<%- include('header'); %>
			
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<% if (typeof error !== 'undefined' && error != "") { %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
		<% } %>
		<% if (typeof errors !== 'undefined' && errors != "") { errors.forEach( function(element){ %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= element.msg %></div>
		<% }); } %>

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-9 col-sm-6 my-auto">
					<h5 class="page-title mb-0">Add Property Sub-Types</h5>
				</div>
				<div class="col-3 col-sm-6 col-md-6 my-auto">
					<div class="float-right">
						<a href="<%= baseUrl %>admin/viewPropertySubTypes" data-toggle="tooltip" title="" class="btn back-btn" data-original-title="Cancel"><i class="fa fa-reply"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<form action="<%= baseUrl %>admin/addPropertySubType" method="post">
							<input type="hidden" name="id" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>" >
							<div class="form-group row">
								<label class="col-form-label col-md-3">Property Type <span class="mandatory">*</span></label>
								<div class="col-md-9">
									<select name="property_type_id" class="form-control" required>
										<option value="">Select Property Type</option>
										<% if (typeof property_types !== 'undefined' && property_types.length > 0) { %>
										<% for(var i=0; i < property_types.length; i++) { %>
										<option value="<%= property_types[i].id %>" <% if (typeof data !== 'undefined' && data.length > 0) { if (property_types[i].id == data[0].property_type_id) { %>selected<% }} %> ><%= property_types[i].name %></option>
										<% } %>
										<% } %>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-3">Property Sub-Type <span class="mandatory">*</span></label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="name" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].name %><% } %>" placeholder="Property Sub-Type" required="">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-3">Order <span class="mandatory">*</span></label>
								<div class="col-md-9">
									<input type="text" name="priority_order" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].priority_order %><% } %>" class="form-control" placeholder="Order" required>
								</div>
								<div class="col-md-3"></div><div class="col-md-9 mandatory" id="email_error"></div>
							</div>
							<div class="text-right">
								<input class="btn btn-primary" type="submit" name="submit" value="Submit">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>
<!-- /Page Wrapper -->
		
<%- include('footer'); %>

<% if (typeof success !== 'undefined' && success != "") { %>
<script type="text/javascript">
	$(document).ready(function () {
		swal({
			text: "<%= success %>",
			icon: "success",
			timer: 2000
		});
	});
</script>
<% } %>