<%- include('header'); %>

<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<% if (typeof error !== 'undefined' && error != "") { %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
		<% } %>
		<% if (typeof errors !== 'undefined' && errors != "") { errors.forEach( function(element){ %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= element.msg %></div>
		<% }); } %>

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-9 col-sm-6 my-auto">
					<h5 class="page-title mb-0">Add Property Type</h5>
				</div>
				<div class="col-3 col-sm-6 col-md-6 my-auto">
					<div class="float-right">
						<a href="<%= baseUrl %>admin/viewPropertyTypes" data-toggle="tooltip" title="" class="btn back-btn" data-original-title="Cancel"><i class="fa fa-reply"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<form action="<%= baseUrl %>admin/addPropertyType" method="post">
							<input type="hidden" name="id" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>" >
							<div class="form-group row">
								<label class="col-form-label col-md-3">Property Type <span class="mandatory">*</span></label>
								<div class="col-md-9">
									<input type="text" name="name" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].name %><% } %>" class="form-control" placeholder="Property Type" required>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-3">Order <span class="mandatory">*</span></label>
								<div class="col-md-9">
									<input type="text" name="priority_order" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].priority_order %><% } %>" class="form-control" placeholder="Order" required>
								</div>
							</div>
							<div class="text-right">
								<input class="btn btn-primary" type="submit" name="submit" value="Submit">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>
<!-- /Page Wrapper -->

<%- include('footer'); %>

<% if (typeof success !== 'undefined' && success != "") { %>
<script type="text/javascript">
	$(document).ready(function () {
		swal({
			text: "<%= success %>",
			icon: "success",
			timer: 2000
		});
	});
</script>
<% } %>