<%- include('header'); %>
			
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-9 col-sm-6 my-auto">
					<h5 class="page-title mb-0">Bookings Management</h5>
				</div>
				<div class="col-3 col-sm-6 col-md-6 my-auto">
					<div class="float-right">
					</div>
				</div>
				<div class="col-12 mt-3">
					<div class="row">
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search">
							</div>
						</div>
						<!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<input type="text" class="form-control" name="" placeholder="Search">
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<select class="form-control">
									<option>-- Select --</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<select class="form-control">
									<option>-- Select --</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
								</select>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">
			
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Sl. No</th>
										<th>Full Name</th>
										<th>Mobile Number</th>
										<th>Booked Service</th>
										<th>Service Provider</th>
										<th>Service Booked On</th>
									</tr>
								</thead>
								<tbody>
									<% if (typeof data !== 'undefined' && data.length > 0) { %>
									<% for(var i=0; i < data.length; i++) { %>
									<tr>
										<td><%= i+1 %></td>
										<td><%= data[i].name %></td>
										<td><%= data[i].mobile_number %></td>
										<td><%= data[i].service_name %></td>
										<td><%= data[i].business_name %></td>
										<td><%= new Date(data[i].created_at).toLocaleString('default', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
									</tr>
									<% } %>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
				
			</div>
		</div>
	</div>			
</div>
<!-- /Page Wrapper -->

<%- include('footer'); %>

<script>
	oTable = $('.datatable').DataTable({dom: 'lrtip'});
	$('#keyword').keyup(function(){
		oTable.search($(this).val()).draw();
	});
</script>