</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="<%= baseUrl %>admin/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="<%= baseUrl %>admin/assets/js/popper.min.js"></script>
<script src="<%= baseUrl %>admin/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="<%= baseUrl %>admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="<%= baseUrl %>admin/assets/plugins/raphael/raphael.min.js"></script>    
<script src="<%= baseUrl %>admin/assets/plugins/morris/morris.min.js"></script>  
<script src="<%= baseUrl %>admin/assets/js/chart.morris.js"></script>

<!-- Custom JS -->
<script  src="<%= baseUrl %>admin/assets/js/script.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script>
    $(window).on('load', function () {
        $('.sidebar-li').removeClass('active');
        var url = window.location.href;
        // var result = url.split("/");
        // var href = result[result.length - 1];
        var element = $('body').find('a[href="'+url+'"]');
        element.parent('.sidebar-li').addClass('active');
    })
</script>

</body>
</html>