<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Real Estate - Dashboard</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/bootstrap.min.css">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/font-awesome.min.css">
    
    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/feathericon.min.css">
    
    <link rel="stylesheet" href="<%= baseUrl %>admin/assets/plugins/morris/morris.css">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/style.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/custom.css">

    <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/custom1.css">

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>
<style type="text/css">
    .users-icon{
        border-color: #00d0f1 !important;
        border: 3px solid;
        border-radius: 100%;
        width: 60px;
    }
    .sellers-icon{
        border-color: #7bb13c !important;
        border: 3px solid;
        border-radius: 100%;
        width: 60px;
    }	
    .properties-icon{ 
        border-color: #e84646 !important;
        border: 3px solid;
        border-radius: 100%;
        width: 60px;
    }
    .service-seller-icon{
        border-color: #ffbc34 !important;
        border: 3px solid;
        border-radius: 100%;
        width: 60px;
    }	
    .service-list-icon{
        border-color: #007bff !important;
        border: 3px solid;
        border-radius: 100%;
        width: 60px;
    }	
</style>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
    
        <!-- Header -->
        <div class="header">
        
            <!-- Logo -->
            <div class="header-left">
                <a href="index" class="logo">
                    <!-- <img src="<%= baseUrl %>admin/assets/img/logo.png" alt="Logo"> -->
                    <h5 class="font-weight-bold mb-0 lh60">REAL ESTATE</h5>
                </a> 
                <a href="index" class="logo logo-small">
                    <!-- <img src="<%= baseUrl %>admin/assets/img/logo-small.png" alt="Logo" width="30" height="30"> -->
                    <h6 class="font-weight-bold mb-0 lh60">REAL ESTATE</h6>
                </a>
            </div>
            <!-- /Logo -->
            
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>
            
            <!-- <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div> -->
            
            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->
            
            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- Notifications -->
                <!-- <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="<%= baseUrl %>admin/assets/img/doctors/doctor-thumb-01.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span> Schedule <span class="noti-title">her appointment</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="<%= baseUrl %>admin/assets/img/patients/patient1.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="<%= baseUrl %>admin/assets/img/patients/patient2.jpg">
                                            </span>
                                            <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="<%= baseUrl %>admin/assets/img/patients/patient3.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li> -->
                <!-- /Notifications -->
                
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="<%= baseUrl %>admin/assets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="<%= baseUrl %>admin/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Real Estate</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <!-- <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a> -->
                        <a class="dropdown-item" href="<%= baseUrl %>admin/logout">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->
                
            </ul>
            <!-- /Header Right Menu -->
            
        </div>
        <!-- /Header -->
        
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="sidebar-li"> 
                            <a href="<%= baseUrl %>admin/index"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/home.png" class="side-menu-icon mx-auto d-block"></span> <span>Dashboard</span></a>
                        </li>
                        <li class="sidebar-li"> 
                            <a href="<%= baseUrl %>admin/manageUsers"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/users.png" class="side-menu-icon mx-auto d-block"></span> <span>Manage Users</span></a>
                        </li>
                        <li class="sidebar-li"> 
                            <a href="<%= baseUrl %>admin/manageSellers"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/sellers.png" class="side-menu-icon mx-auto d-block"></span> <span>Manage Sellers</span></a>
                        </li>
                        <li class="sidebar-li"> 
                            <a href="<%= baseUrl %>admin/manageProperties"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/property.png" class="side-menu-icon mx-auto d-block"></span> <span>Manage Properties</span></a>
                        </li>
                        <li class="sidebar-li"> 
                            <a href="<%= baseUrl %>admin/manageServiceSellers"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/service-sellers.png" class="side-menu-icon mx-auto d-block"></span> <span>Manage Service Sellers</span></a>
                        </li>
                        <li class="sidebar-li">
                            <a href="<%= baseUrl %>admin/bookingsManagement"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/bookings-management.png" class="side-menu-icon mx-auto d-block"></span> <span>Bookings Management</span></a>
                        </li>
                        <li class="sidebar-li submenu">
                            <a href="#"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/master.png" class="side-menu-icon mx-auto d-block"></span> <span> Master </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="<%= baseUrl %>admin/viewPropertyTypes"> Add / View Property Types</a></li>
                                <li><a href="<%= baseUrl %>admin/viewPropertySubTypes"> Add / View Property Sub-Types </a></li>
                                <li><a href="<%= baseUrl %>admin/viewAmenities"> Add / View Amenities </a></li>
                                <li><a href="<%= baseUrl %>admin/viewServices"> Add / View Services </a></li>
                                <li><a href="<%= baseUrl %>admin/viewPropertyStatusValues"> Add / View Property Status Values </a></li>
                                <li><a href="<%= baseUrl %>admin/viewTags"> Add / View Tags </a></li>
                            </ul>
                        </li>
                        <!-- <li class="submenu">
                            <a href="#"><span class="icon-width ml-0"><img src="<%= baseUrl %>admin/images/sidemenu-icons/error.png" class="side-menu-icon mx-auto d-block"></span> <span> Error Pages </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="error-404.html">404 Error </a></li>
                                <li><a href="error-500.html">500 Error </a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->