<%- include('header'); %>
			
<!-- Page Wrapper -->
<div class="page-wrapper">

	<div class="content container-fluid">
		<% if (typeof error !== 'undefined' && error != "") { %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
		<% } %>
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Welcome Admin!</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Dashboard</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span>
								<img src="<%= baseUrl %>admin/images/users-icon.png" class="img-fluid users-icon" alt="">
							</span>
							<!-- <span>
								<img src="<%= baseUrl %>admin/images/users.png" width="60px" alt="">
							</span> -->
							<div class="dash-count">
								<h3><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].users %><% } %></h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Users</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<!-- <span class="dash-widget-icon text-success">
								<i class="fe fe-credit-card"></i>
							</span> -->
							<span>
								<img src="<%= baseUrl %>admin/images/sellers-icon.png" class="img-fluid sellers-icon" alt="">
							</span>
							<div class="dash-count">
								<h3><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].sellers %><% } %></h3>
							</div>
						</div>
						<div class="dash-widget-info">
							
							<h6 class="text-muted">Sellers</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<!-- <span class="dash-widget-icon text-danger border-danger">
								<i class="fe fe-money"></i>
							</span> -->
							<span>
								<img src="<%= baseUrl %>admin/images/property-icon.png" class="img-fluid properties-icon" alt="">
							</span>
							<div class="dash-count">
								<h3><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].properties %><% } %></h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Properties</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<!-- <span class="dash-widget-icon text-warning border-warning">
								<i class="fe fe-folder"></i>
							</span> -->
							<span>
								<img src="<%= baseUrl %>admin/images/service-seller-icon.png" class="img-fluid service-seller-icon" alt="">
							</span>
							<div class="dash-count">
								<h3><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].service_sellers %><% } %></h3>
							</div>
						</div>
						<div class="dash-widget-info">
							
							<h6 class="text-muted">Service Sellers</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<!-- <span class="dash-widget-icon text-primary border-primary">
								<i class="fe fe-users"></i>
							</span> -->
							<span>
								<img src="<%= baseUrl %>admin/images/service-list-icon.png" class="img-fluid service-list-icon" alt="">
							</span>
							<div class="dash-count">
								<h3><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].services %><% } %></h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Services List</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-blue w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span>
								<img src="<%= baseUrl %>admin/images/users-icon.png" class="img-fluid users-icon" alt="">
							</span>
							<div class="dash-count">
								<h3>168</h3>
							</div>
						</div>
						<div class="dash-widget-info">
							<h6 class="text-muted">Demo</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-primary w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>			
</div>
<!-- /Page Wrapper -->

<%- include('footer'); %>