<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Real Estate - Login</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="<%= baseUrl %>admin/assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/font-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/style.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="<%= baseUrl %>admin/assets/css/custom.css">

        <!-- Font Family -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<!-- <img class="img-fluid" src="<%= baseUrl %>admin/assets/img/logo-white.png" alt="Logo"> -->
							<h4 class="text-white font-weight-bold">REAL ESTATE</h4>
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>Login</h1>
								<p class="account-subtitle">Access to our dashboard</p>
								<p class="text-center text-danger">
									<% if (typeof error !== 'undefined' && error != "") { %><%= error %><% } %>
								</p>
								<!-- Form -->
								<form method="POST" action="<%= baseUrl %>admin/login">
									<div class="form-group">
										<input class="form-control" name="email" type="text" placeholder="Email">
									</div>
									<div class="form-group">
										<input class="form-control" name="password" type="text" placeholder="Password">
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">Login</button>
									</div>
								</form>
								<!-- /Form -->
								
								<!-- <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
								<div class="login-or">
									<span class="or-line"></span>
									<span class="span-or">or</span>
								</div> -->
								  
								<!-- Social Login -->
								<!-- <div class="social-login">
									<span>Login with</span>
									<a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google"></i></a>
								</div> -->
								<!-- /Social Login -->
								
								<!-- <div class="text-center dont-have">Don’t have an account? <a href="register.html">Register</a></div> -->
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="<%= baseUrl %>admin/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="<%= baseUrl %>admin/assets/js/popper.min.js"></script>
        <script src="<%= baseUrl %>admin/assets/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script src="<%= baseUrl %>admin/assets/js/script.js"></script>
		
    </body>
</html>