<%- include('header'); %>

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <% if (typeof error !== 'undefined' && error != "") { %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
		<% } %>

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-12 col-sm-12 my-auto">
                    <h5 class="page-title mb-0">Manage Service Sellers</h5>
                </div>
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                            <div>
                                <input type="text" class="form-control" name="keyword" placeholder="Search">
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                            <div>
                                <input type="text" class="form-control" name="" placeholder="Search">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                            <div>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                            <div>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                    <option>----------</option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="plumbing-services">

                            <% if (typeof data !== 'undefined' && data.length > 0) { %>
                            <% for(var i=0; i < data.length; i++) { %>

                            <div class="col-12 my-4 my-md-2 px-3">
                                <div class="shadow px-3 border-radius-5">
                                    <div class="row">
                                        <div class="col-12 col-md-4 col-lg-3 px-0">
                                            <div class="search-property-images">
                                                <% data[i].images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                                    <img src="<%= baseUrl %><%= element %>" class="img-fluid w-100" alt="" />
                                                <% }}) %>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8 col-lg-9 py-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="fs16 font-weight-bold"><%= data[i].name %></div>
                                                    <div class="py-2">
                                                        <i class="fas fa-star text-orange mr5"></i>
                                                        <i class="fas fa-star text-orange mr5"></i>
                                                        <i class="fas fa-star text-orange mr5"></i>
                                                        <i class="fas fa-star text-orange mr5"></i>
                                                        <i class="fas fa-star text-orange mr5"></i>
                                                        <span class="pl10">4.0 Out Of 5</span>
                                                        <span class="pl30">130 reviews</span>
                                                    </div>
                                                </div>
                                                <div class="col-12 py-3">
                                                    <div>
                                                        <% data[i].services.split(',').forEach(function (element) { %>
                                                            <a class="btn btn-sm btn-primary text-white mr-2 my-1"><%= element %></a>
                                                        <% }) %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-5 my-auto">
                                                    <div class="py-1">
                                                        <span class="font-weight-bold">Contact :</span><span class="pl5"><%= data[i].mobile_number %></span>
                                                    </div>
                                                    <div lang="py-1">
                                                        <span class="font-weight-bold">Address :</span><span class="pl5">Kukatpally, Hyderabad</span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-7 mt-2 my-lg-auto">
                                                    <div class="text-left text-lg-right">
                                                        <% if (data[i].status == 0) { %>
                                                            <a data-id="<%= data[i].id %>" data-status="1" class="btn btn-sm btn-success text-white my-1 makeActive">Make Active</a>
                                                        <% } %>
                                                        <% if (data[i].status == 1) { %>
                                                            <a data-id="<%= data[i].id %>" data-status="0" class="btn btn-sm btn-danger text-white my-1 makeInActive">Make In-Active</a>
                                                        <% } %>
                                                        <a href="bookings-management.html" class="btn btn-sm btn-info my-1">View Bookings</a>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row pt-2">
                                                <div class="col-12 col-md-12 col-lg-7 my-auto">
                                                    <span class="font-weight-bold">Timings :</span><span class="pl5">
                                                        <%= data[i].opening_time %> am - <%= data[i].closing_time %> pm
                                                    </span>
                                                    <a href="#" class="btn btn-sm btn-light ml-0 ml-md-2 mt-2 mt-sm-0">Open Now</a>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-5 my-3 my-lg-auto">
                                                    <div class="text-center text-lg-right">
                                                        <a href="services_inner.html" class="btn btn view-details-btn text-white">View Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% } %>
							<% } else { %>
                                No Service Sellers Found
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

<%- include('footer'); %>

<script type="text/javascript">
	$(document).ready(function () {
		$('body').on('click', '.makeActive, .makeInActive', function () {
			var btn = $(this);
			var id = btn.data('id');
			var status = btn.data('status');
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>admin/serviceSellers/changeServiceSellerStatus/"+id+"/"+status,
					success: function(data){
						if (status == 1) {
							btn.data('status', 0);
							btn.removeClass('btn btn-sm btn-success text-white my-1 makeActive');
							btn.addClass('btn btn-sm btn-danger text-white my-1 makeInActive');
							btn.html('Make In-Active');
						} else {
							btn.data('status', 1);
							btn.removeClass('btn btn-sm btn-danger text-white my-1 makeInActive');
							btn.addClass('btn btn-sm btn-success text-white my-1 makeActive');
							btn.html('Make Active');
						}
						swal({
							text: "Status changed",
							icon: "success",
							timer: 2000
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
	});
</script>