<%- include('header'); %>
			
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<% if (typeof error !== 'undefined' && error != "") { %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
		<% } %>

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-12 col-sm-12 my-auto">
					<h5 class="page-title mb-0">Manage Sellers</h5>
				</div>
				<div class="col-12 mt-3">
					<div class="row">
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search">
							</div>
						</div>
						<!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<input type="text" class="form-control" name="" placeholder="Search">
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<select class="form-control">
									<option>-- Select --</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<select class="form-control">
									<option>-- Select --</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
									<option>----------</option>
								</select>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">

				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Sl. No</th>
										<th>Name</th>
										<th>Email</th>
										<th>Mobile Number</th>
										<th>Alternate Mobile Number</th>
										<!-- <th>Seller Type</th> -->
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<% if (typeof data !== 'undefined' && data.length > 0) { %>
									<% for(var i=0; i < data.length; i++) { %>
									<tr>
										<td><%= i+1 %></td>
										<td><%= data[i].name %></td>
										<td><%= data[i].email %></td>
										<td><%= data[i].mobile_number %></td>
										<td><%= data[i].alt_mobile_number %></td>
										<td>
											<!-- <a href="#" class="btn btn-sm btn-warning text-white my-1 mx-1">Edit</a>
											<a href="#" class="btn btn-sm btn-info my-1 mx-1">View</a> -->
											<a data-id="<%= data[i].id %>" class="btn btn-sm btn-danger text-white my-1 mx-1 deleteUser">Delete</a>
											<% if (data[i].status == 0) { %>
												<a data-id="<%= data[i].id %>" data-status="1" class="btn btn-sm btn-success text-white my-1 mx-1 makeActive">Make Active</a>
											<% } %>
											<% if (data[i].status == 1) { %>
												<a data-id="<%= data[i].id %>" data-status="0" class="btn btn-sm btn-danger text-white my-1 mx-1 makeInActive">Make In-Active</a>
											<% } %>
											<a href="<%= baseUrl %>admin/viewSellerProperties/<%= data[i].id %>" class="btn btn-sm btn-primary view_property my-1 mx-1">View Properties</a>
										</td>
									</tr>
									<% } %>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>
<!-- /Page Wrapper -->
		
<%- include('footer'); %>

<script type="text/javascript">
	$(document).ready(function () {
		oTable = $('.datatable').DataTable({dom: 'lrtip'});
		$('#keyword').keyup(function(){
			oTable.search($(this).val()).draw() ;
		})
		$('body').on('click', '.makeActive, .makeInActive', function () {
			var btn = $(this);
			var id = btn.data('id');
			var status = btn.data('status');
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>admin/sellers/changeSellerStatus/"+id+"/"+status,
					success: function(data){
						if (status == 1) {
							btn.data('status', 0);
							btn.removeClass('btn btn-sm btn-success text-white my-1 mx-1 makeActive');
							btn.addClass('btn btn-sm btn-danger text-white my-1 mx-1 makeInActive');
							btn.html('Make In-Active');
						} else {
							btn.data('status', 1);
							btn.removeClass('btn btn-sm btn-danger text-white my-1 mx-1 makeInActive');
							btn.addClass('btn btn-sm btn-success text-white my-1 mx-1 makeActive');
							btn.html('Make Active');
						}
						swal({
							text: "Status changed",
							icon: "success",
							timer: 2000
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
		$('body').on('click', '.deleteUser', function () {
			var id = $(this).data('id');
			if (id) {
				swal({
					title: "Are you sure?",
					text: "Once deleted, you will not be able to recover the data. (Data includes user data, properties uploaded by the seller)",
					icon: "warning",
					buttons: true,
					dangerMode: true,
				})
				.then((willDelete) => {
					if (willDelete) {
						$.ajax({
							type: "GET",
							url: "<%= baseUrl %>admin/sellers/deleteSeller/"+id,
							success: function(data){
								window.location.reload();
							}
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
	});
</script>