<%- include('header'); %>
			
<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-9 col-sm-6 my-auto">
					<h5 class="page-title mb-0">Add / View Property Sub-Types</h5>
				</div>
				<div class="col-3 col-sm-6 col-md-6 my-auto">
					<div class="float-right">
						<a href="<%= baseUrl %>admin/addPropertySubType" title="" class="add-new-btn btn" data-original-title="Add New"><i class="fa fa-plus"></i></a>
					</div>
				</div>
				<div class="col-12 mt-3">
					<div class="row">
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<label>Search</label>
								<input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search">
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3 col-lg-3">
							<div>
								<label>Property Type</label>
								<select class="form-control" id="property_type">
									<option value="">All</option>
									<% if (typeof property_types !== 'undefined' && property_types.length > 0) { %>
									<% for(var i=0; i < property_types.length; i++) { %>
									<option value="<%= property_types[i].name %>"><%= property_types[i].name %></option>
									<% } %>
									<% } %>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">
			
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Sl. No</th>
										<th>Property Sub-Type</th>
										<th>Property Type</th>
										<th class="width-50">Order</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<% if (typeof data !== 'undefined' && data.length > 0) { %>
									<% for(var i=0; i < data.length; i++) { %>
									<tr>
										<td><%= [i+1] %></td>
										<td><%= data[i].property_sub_type_name %></td>
										<td><%= data[i].property_type_name %></td>
										<td>
											<div>
												<input type="text" class="form-control priority_order" name="priority_order" data-id="<%= data[i].id %>" value="<%= data[i].priority_order %>">
											</div>
										</td>
										<td>
											<a href="<%= baseUrl %>admin/addPropertySubType/<%= data[i].id %>" class="btn btn-sm btn-warning text-white my-1 mx-1">Edit</a>
											<% if (data[i].status == 0) { %>
												<a data-id="<%= data[i].id %>" data-status="1" class="btn btn-sm btn-success text-white my-1 mx-1 makeActive">Make Active</a>
											<% } %>
											<% if (data[i].status == 1) { %>
												<a data-id="<%= data[i].id %>" data-status="0" class="btn btn-sm btn-danger text-white my-1 mx-1 makeInActive">Make In-Active</a>
											<% } %>
											<a data-id="<%= data[i].id %>" class="btn btn-sm btn-danger text-white my-1 mx-1 deletePropertySubType">Delete</a>
										</td>
									</tr>
									<% } %>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
				
			</div>
		</div>
	</div>			
</div>
<!-- /Page Wrapper -->

<%- include('footer'); %>

<script type="text/javascript">
	$(document).ready(function () {
		oTable = $('.datatable').DataTable({dom: 'lrtip'});
		$('#keyword').keyup(function(){
			oTable.search($(this).val()).draw();
		});
		$('#property_type').on('change', function() {
			oTable.columns(2).search( this.value ).draw();
		});
		
		$('body').on('click', '.makeActive, .makeInActive', function () {
			var btn = $(this);
			var id = btn.data('id');
			var status = btn.data('status');
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>admin/propertySubTypes/changePropertySubTypeStatus/"+id+"/"+status,
					success: function(data){
						if (status == 1) {
							btn.data('status', 0);
							btn.removeClass('btn btn-sm btn-success text-white my-1 mx-1 makeActive');
							btn.addClass('btn btn-sm btn-danger text-white my-1 mx-1 makeInActive');
							btn.html('Make In-Active');
						} else {
							btn.data('status', 1);
							btn.removeClass('btn btn-sm btn-danger text-white my-1 mx-1 makeInActive');
							btn.addClass('btn btn-sm btn-success text-white my-1 mx-1 makeActive');
							btn.html('Make Active');
						}
						swal({
							text: "Status changed",
							icon: "success",
							timer: 2000
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
		$('body').on('keyup', '.priority_order', function () {
			var id = $(this).data('id');
			var priority_order = $(this).val();
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>admin/propertySubTypes/changePropertySubTypePriorityOrder/"+id+"/"+priority_order,
					success: function(data){
						swal({
							text: "Priority order changed",
							icon: "success",
							timer: 2000
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
		$('body').on('click', '.deletePropertySubType', function () {
			var id = $(this).data('id');
			if (id) {
				swal({
					title: "Are you sure?",
					text: "Once deleted, you will not be able to recover the data",
					icon: "warning",
					buttons: true,
					dangerMode: true,
				})
				.then((willDelete) => {
					if (willDelete) {
						$.ajax({
							type: "GET",
							url: "<%= baseUrl %>admin/propertySubTypes/deletePropertySubType/"+id,
							success: function(data){
								window.location.reload();
							}
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
	});
</script>