<%- include('header'); %>

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <% if (typeof error !== 'undefined' && error != "") { %>
			<div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
		<% } %>

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-9 col-sm-6 my-auto">
                    <h5 class="page-title mb-0">View Properties (225*275)</h5>
                </div>
                <div class="col-3 col-sm-6 col-md-6 my-auto">
                    <div class="float-right">
                        <a href="<%= baseUrl %>admin/manageSellers" data-toggle="tooltip" title="" class="btn back-btn" data-original-title="Cancel"><i class="fa fa-reply"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3 px-3">
                                <div class="row">
                                    <div class="col-12 col-md-9 col-lg-9 my-auto">
                                        <h4 class="fs20 font-weight-bold"><% if (typeof data !== 'undefined') { %><%= data.length %><% } %> Properties</h4>
                                    </div>
                                    <!-- <div class="col-12 col-sm-4 col-md-3 col-lg-3 py-2 py-md-0 my-auto">
                                        <div class="float-right">
                                            <select class="form-control bg-transparent-select">
                                                <option>Relavance</option>
                                                <option>....</option>
                                                <option>....</option>
                                                <option>....</option>
                                                <option>....</option>
                                                <option>....</option>
                                                <option>....</option>
                                            </select>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <% if (typeof data !== 'undefined' && data.length > 0) { %>
                            <% for(var i=0; i < data.length; i++) { %>
                            <div class="col-12 my-2 px-3">
                                <div class="shadow px-3 border-radius-5">
                                    <div class="row">
                                        <div class="col-12 col-md-4 col-lg-3 px-0">
                                            <div class="search-property-images">
                                                <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                                <img src="<%= baseUrl %><%= element %>" class="img-fluid w-100" alt="" />
                                                <% }}) %>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8 col-lg-9 py-3">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="fs16 font-weight-bold"><%= data[i].property_title %></div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="text-left text-lg-right fs18 font-weight-bold">
                                                        ₹ <%= data[i].price %> <% if (data[i].price_range_to) { %>- <%= data[i].price_range_to %><% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-grey font-weight-500 py-1 fs14"><%= data[i].society_name %></div>
                                            <div class="my-3"><%= data[i].property_description %></div>
                                            <div class="row pt-2">
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-8 my-auto">
                                                    <div class="py-1">
                                                        <span class="text-grey fs15">Details :</span>
                                                        <span class="pl-4 font-weight-bold"><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>Square feets<% } else { %>Acres<% } %></span>
                                                    </div>
                                                    <div class="py-1">
                                                        <span class="text-grey fs15">Status :</span>
                                                        <span class="pl-4 font-weight-bold">Unfurnished, Immediately Available</span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 my-auto">
                                                    <div class="text-left text-md-right">
                                                        <% if (data[i].status == 0) { %>
                                                            <a data-id="<%= data[i].id %>" data-status="1" class="btn btn-sm btn-success text-white my-2 makeActive">Make Active</a>
                                                        <% } %>
                                                        <% if (data[i].status == 1) { %>
                                                            <a data-id="<%= data[i].id %>" data-status="0" class="btn btn-sm btn-danger text-white my-2 makeInActive">Make In-Active</a>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-4">
                                                <div class="col-12 col-md-12 col-lg-7 my-auto">
                                                    <div class="">
                                                        <% data[i].amenities.split(',').forEach(function (element) { %>
                                                        <span class="mr-4 text-grey"><%= element %></span>
                                                        <% }) %>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12 col-lg-5 my-2 my-lg-auto">
                                                    <div class="text-center text-lg-right">
                                                        <a href="<%= baseUrl %>admin/viewPropertyDetails/<%= data[i].id %>" class="btn view-details-btn text-white">View Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
							<% } else { %>
                                No Properties Found
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

<%- include('footer'); %>

<script type="text/javascript">
	$(document).ready(function () {
		$('body').on('click', '.makeActive, .makeInActive', function () {
			var btn = $(this);
			var id = btn.data('id');
			var status = btn.data('status');
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>admin/properties/changePropertyStatus/"+id+"/"+status,
					success: function(data){
						if (status == 1) {
							btn.data('status', 0);
							btn.removeClass('btn btn-sm btn-success text-white my-1 mx-1 makeActive');
							btn.addClass('btn btn-sm btn-danger text-white my-1 mx-1 makeInActive');
							btn.html('Make In-Active');
						} else {
							btn.data('status', 1);
							btn.removeClass('btn btn-sm btn-danger text-white my-1 mx-1 makeInActive');
							btn.addClass('btn btn-sm btn-success text-white my-1 mx-1 makeActive');
							btn.html('Make Active');
						}
						swal({
							text: "Status changed",
							icon: "success",
							timer: 2000
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
	});
</script>