﻿/* general CSS */

html{
    overflow-x: hidden !important;
}

.body-font-color{ 
    color: #767676 !important;
}
body {
    /*color: #555555;
    font-size:13px;
    background-color:white;
    font-family: 'Rubik', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color:white;
    font-size: 12px;
    color: #767676;
    overflow-x: hidden !important;
    overflow-x: hidden !important;
}

.active a {
    color: #ed5530 !important;
    font-weight: bold;
}

.navbar {
    padding: 0px 30px;
}

li.nav-item{
    margin-top: auto;
    margin-bottom: auto;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #0f4693;
    border-radius: 5px;
}

.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #0f4693;
}

.navbar .navbar-nav > li > a.nav-link {
    color: #fff;
    padding: 20px 15px;
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    color: #0f4693;  
}

.dropdown-menu > a:focus, .dropdown-menu > a:hover {
    color: white;
    text-decoration: none;
    background-color: #0f4693;
}

.navbar-nav .dropdown-menu{
    left:15px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255);
    border-color: rgba(255, 255, 255);
}

/* Side Navbar */

div#mySidenav {
    z-index: 9999;
    border-left: 1px #ed5530 solid;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
    -moz-box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
    -webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ed5530;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #274390;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}

/* End of the sidebar */

/* Filter Side Overlay */

.filters-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.filters-overlay a {
    /*padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;*/
    transition: 0.3s;
}

.filters-overlay a:hover {
    color: #f1f1f1;
}

.filters-overlay .closebtn {
    position: absolute;
    top: 98px;
    right: 25px;
    font-size: 50px;
    /* margin-left: 50px; */
    color: #134b96;
    z-index: 9999;
    line-height: 25px;
}

/* End of Filter Side Overlay */

/* Buttons */

.btn{
    font-size: 14px !important;
}

.btn-sm{
    font-size: 13px !important;
}

.btn-white {
    color: #007bff;
    background-color: #ffffff;
    border-color: #f5f5f5;
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: bold;
}

.btn-blue-transparent{
    border: 2px solid #586faf;;
    color: #ffffff !important;
    background-color: #274390;
    padding: 7px 20px !important;
    border-radius: 5px !important;
}

.btn-transparent{
    color: #000;
    background-color: #ffffff;
    border-color: #e7e7e7;
    border-radius: 20px !important;
    padding: 4px 18px 4px 12px;
}

.btn-violet {
    color: #fff;
    background-color: #6922be;
    border-color: #6922be;
    border-radius: 20px;
}

.cursor-pointer{
    cursor: pointer;
}

/* Padding */

.p0{
    padding:0px;
}

.p5{
    padding:5px !important;
}

.p10{
    padding:10px;
}

.p15{
    padding:15px;
}

.p20{
    padding:20px;
}

.p25{
    padding:25px;
}

.p30{
    padding:30px;
}

.p35{
    padding:35px;
}

.p40{
    padding:40px;
}

.p45{
    padding:45px;
}

.p50{
    padding:50px;
}

/* end of padding */

/* padding Top */

.pt0{
    padding-top:0px;
}

.pt5{
    padding-top:5px;
}

.pt10{
    padding-top:10px;
}

.pt15{
    padding-top:15px;
}

.pt20{
    padding-top:20px;
}

.pt25{
    padding-top:25px;
}

.pt30{
    padding-top:30px;
}

.pt35{
    padding-top:35px;
}

.pt40{
    padding-top:40px;
}

.pt45{
    padding-top:45px;
}

.pt50{
    padding-top:50px;
}

.pt70{
    padding-top:70px;
}

.pt80{
    padding-top:80px;
}

.pt100{
    padding-top:100px;
}

.pt120{
    padding-top:120px;
}

.px30{
    padding-left: 30px;
    padding-right: 30px;
}

/* end of padding Top */

/* padding bottom */

.pb0{
    padding-bottom:0px;
}

.pb1{
    padding-bottom:1px;
}

.pb5{
    padding-bottom:5px;
}

.pb10{
    padding-bottom:10px;
}

.pb15{
    padding-bottom:15px;
}

.pb20{
    padding-bottom:20px;
}

.pb25{
    padding-bottom:25px;
}

.pb30{
    padding-bottom:30px;
}

.pb35{
    padding-bottom:35px;
}

.pb40{
    padding-bottom:40px;
}

.pb45{
    padding-bottom:45px;
}

.pb50{
    padding-bottom:50px;
}

/* end of padding bottom */

/* padding right */

.pr0{
    padding-right:0px;
}

.pr2{
    padding-right:2px;
}

.pr5{
    padding-right:5px;
}

.pr10{
    padding-right:10px;
}

.pr15{
    padding-right:15px;
}

.pr20{
    padding-right:20px;
}

.pr25{
    padding-right:25px;
}

.pr30{
    padding-right:30px;
}

.pr35{
    padding-right:35px;
}

.pr40{
    padding-right:40px;
}

.pr45{
    padding-right:45px;
}

.pr50{
    padding-right:50px;
}

/* end of padding right */

/* padding left */

.pl0{
    padding-left:0px;
}

.pl5{
    padding-left:5px;
}

.pl10{
    padding-left:10px;
}

.pl15{
    padding-left:15px;
}

.pl20{
    padding-left:20px;
}

.pl25{
    padding-left:25px;
}

.pl30{
    padding-left:30px;
}

.pl35{
    padding-left:35px !important;
}

.pl40{
    padding-left:40px;
}

.pl45{
    padding-left:45px;
}

.pl50{
    padding-left:50px;
}

/* end of padding left */


.py70{
    padding-top: 70px;
    padding-bottom: 70px;
}

.px7{
    padding-left: 7px;
    padding-right: 7px;
}

.px30{
    padding-left: 30px;
    padding-right: 30px;
}

.px35{
    padding-left: 35px;
    padding-right: 35px;
}

/* Margin */

.m0{
    margin:0px;
}

.m5{
    margin:5px;
}

.m10{
    margin:10px;
}

.m15{
    margin:15px;
}

.m20{
    margin:20px;
}

.m25{
    margin:25px;
}

.m30{
    margin:30px;
}

.m35{
    margin:35px;
}

.m40{
    margin:40px;
}

.m45{
    margin:45px;
}

.m50{
    margin:50px;
}

/* end of margin */

/* margin top */

.mt0{
    margin-top:0px;
}

.mt3{
    margin-top:3px !important;
}

.mt5{
    margin-top:5px !important;
}

.mt10{
    margin-top:10px;
}

.mt15{
    margin-top:15px;
}

.mt20{
    margin-top:20px;
}

.mt25{
    margin-top:25px;
}

.mt30{
    margin-top:30px;
}
.mt33{
    margin-top:33px;
}
.mt35{
    margin-top:35px;
}

.mt40{
    margin-top:40px;
}

.mt45{
    margin-top:45px;
}

.mt50{
    margin-top:50px;
}

/* end of margin top */

/* margin bottom */

.mb0{
    margin-bottom:0px;
}

.mb5{
    margin-bottom:5px;
}

.mb10{
    margin-bottom:10px;
}

.mb15{
    margin-bottom:15px;
}

.mb20{
    margin-bottom:20px;
}

.mb25{
    margin-bottom:25px;
}

.mb30{
    margin-bottom:30px !important;
}

.mb35{
    margin-bottom:35px;
}

.mb40{
    margin-bottom:40px;
}

.mb45{
    margin-bottom:45px;
}

.mb50{
    margin-bottom:50px;
}

/* end of margin bottom */

/* margin right */

.mr0{
    margin-right:0px;
}

.mr5{
    margin-right:0px;
}

.mr10{
    margin-right:10px;
}

.mr15{
    margin-right:15px;
}

.mr20{
    margin-right:20px;
}

.mr25{
    margin-right:25px;
}

.mr30{
    margin-right:30px;
}

.mr35{
    margin-right:35px;
}

.mr40{
    margin-right:40px;
}

.mr45{
    margin-right:45px;
}

.mr50{
    margin-right:50px;
}

.mr_-2{
    margin-right: -2px;
}

.mr_-3{
    margin-right: -3px;
}

.my10{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* end of margin right */

/* margin left */

.ml0{
    margin-left:0px;
}

.ml5{
    margin-left:5px;
}

.ml10{
    margin-left:10px;
}

.ml15{
    margin-left:15px;
}

.ml20{
    margin-left:20px;
}

.ml25{
    margin-left:25px;
}

.ml30{
    margin-left:30px;
}

.ml35{
    margin-left:35px;
}

.ml40{
    margin-left:40px;
}

.ml45{
    margin-left:45px;
}

.ml50{
    margin-left:50px;
}

/* end of margin left */

/* font Size */

.fs-smaller{
    font-size: smaller;
}

.fs10{
    font-size: 10px !important;
}

.fs11{
    font-size: 11px !important;
}

.fs12{
    font-size: 12px !important;
}

.fs13{
    font-size: 13px !important;
}

.fs14{
    font-size: 14px !important;
}

.fs15{
    font-size: 15px !important;
}

.fs16{
    font-size: 16px !important;
}

.fs17{
    font-size: 17px !important;
}

.fs18{
    font-size: 18px !important;
}

.fs19{
    font-size: 19px !important;
}

.fs20{
    font-size: 20px !important;
}

.fs21{
    font-size: 21px !important;
}

.fs22{
    font-size: 22px !important;
}

.fs25{
    font-size: 25px !important;
}

.fs30{
    font-size: 30px !important;
}

.fs35{
    font-size: 35px !important;
}

.fs40{
    font-size: 40px !important;
}

.fs55{
    font-size: 55px !important;
}

/* end of font size */

/* Line Height */

.lh10{
    line-height: 10px;
}

.lh15{
    line-height: 15px;
}

.lh16{
    line-height: 16px;
}

.lh20{
    line-height: 20px;
}

.lh22{
    line-height: 22px;
}

.lh25{
    line-height: 25px;
}

.lh30{
    line-height: 30px;
}

.lh35{
    line-height: 35px !important;
}

.lh40{
    line-height: 40px;
}

.lh45{
    line-height: 45px;
}

.lh50{
    line-height: 50px;
}

.lh65{
    line-height: 65px;
}

/* End of Line Height */

.h39{
    height: 39px;
}

.h40{
    height: 40px;
}

.h41{
    height: 41px;
}

.h45{
    height: 45px;
}

.h49{
    height: 49px;
}

.h50{
    height: 50px;
}

.h55{
    height: 55px;
}
/* border radius */

.border-radius-0{
    border-radius: 0px !important;
}

.border-radius-5{
    border-radius: 5px !important;
}

.border-radius-10{
    border-radius: 10px;
}

.border-radius-15{
    border-radius: 15px;
}

.border-radius-20{
    border-radius: 20px;
}

.border-radius-25{
    border-radius: 25px;
}

.border-radius-30{
    border-radius: 30px;
}

.border-radius-35{
    border-radius:-35px;
}

.border-radius-40{
    border-radius: 40px;
}

.border-radius-45{
    border-radius: 45px;
}

.border-radius-50{
    border-radius: 50px;
}

/* End of the border radius */

/* text colors */

.text-red {
    color: #ed5530;
}

.text-red:hover {
    color: #ed5530;
}

.text-grey{
    color: #ababab;
}

.text-light-grey{
    color: #d4d4d4;
}

.text-orange{
    color: #ff8407 !important;
}

.text-green{
    color: #4c8962;
}

.text-lux-green{
    color: #49e3aa;
}

.text-yellow{
    color: #ffde14;
}

/* end of text colors */


.text-decoration-underline{
    text-decoration: underline;
}

.border-bottom-white{
    border-bottom: 1px solid #fff;
}

.border-bottom-dashed-grey{
    border-bottom: 1px dashed #d4d4d4;
}

.bg-blue{
    background-color: #274390;
}

.btn-red{
    background: #ed5530;
    border: 1px solid #ed5530;
    color: #fff;
}

.btn-red:hover, .btn-red:focus{
    background: #fb6945;
    border: 1px solid #fb6945;
    color: #fff !important;
}

.z-999{
    z-index: 999 !important;
}

.btn-primary1{
    background-color: #134b96;
    border-color: #134b96;
    color: #fff;
}
.btn-primary1:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


/*media Queries*/



/* for medium screen */


@media (min-width:992px) and (max-width:1199px) {



}


/* for small screen */

@media (min-width:768px) and (max-width:991px) {



}



/* for Ipad */

@media (width:768px) and (height:1024px) {


	
}



/* for mobile screen landscape */

@media (min-width:577px) and (max-width:767px) {


	
}


/* for mobile screen portrait */

@media (min-width:300px) and (max-width:576px) {
    .navbar {
        padding: 10px 15px;
    }
}

@media (max-width: 768px){
    .navbar {
        padding: 10px 20px 10px 0px;
    }
    .navbar .navbar-nav > li > a.nav-link {
        color: #fff;
        padding: 10px 15px;
    }
    .resetall {
        right: 60px;
        position: relative;
        top: 2px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 14px;
    }
    .filters-overlay {
        padding-top: 15px;
    }
    .filters-overlay a {
        font-size: 18px;
    }
}








