<%- include('layout'); %>
<body>
    <h1><%= (message) ? message : '' %></h1>
    <h2><%= (error.status) ? error.status : '' %></h2>
    <pre><%= (error.stack) ? error.stack : '' %></pre>
</body>
</html>