<%- include('header'); %>

<style>
    #dp {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>

<div class="container-fluid pt-4">
    <div class="container">
        <div class="row">
            <% if (typeof error !== 'undefined' && error != "") { %>
                <div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
            <% } %>
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-3 my-lg-auto px-1 py-4 p-md-2">
                <div class="row">
                    <div class="col-12">
                        <h5 class="mb-4">Edit Details</h5>
                        <div class="text-center">
                            <img id="dp" src="<% if (typeof data !== 'undefined' && data.length > 0) { if (data[0].profile_picture) { %><%= data[0].profile_picture %><% } else { %><%= baseUrl %>user/images/user.png<% }} %>" >
                        </div>
                        <div class="text-center">
                            <a data-toggle="modal" data-target="#staticBackdrop"><i class="fas fa-pen"></i> Edit Profile Picture</a>
                        </div>
                        <form method="POST" action="<%= baseUrl %>uploadUserData">
                            <input type="hidden" name="id" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>" >
                            <div class="form-group">
                                <label>Full Name</label>
                                <div class="inputWithIcon">
                                    <input type="text" name="name" class="form-control" placeholder="Full Name" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].name %><% } %>" />
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <div class="inputWithIcon">
                                    <input type="email" name="email" class="form-control" placeholder="E-mail" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].email %><% } %>" />
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <div class="inputWithIcon">
                                    <input type="text" name="mobile_number" class="form-control" placeholder="Mobile Number" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].mobile_number %><% } %>" />
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="SUBMIT" class="btn btn-red fs13 w-100 border-radius-10" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Upload Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="<%= baseUrl %>uploadUserProfilePicture" enctype="multipart/form-data">
                    <input type="hidden" name="user_id" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>" >
                    <div class="form-group">
                        <label>Profile Picture</label>
                        <div class="inputWithIcon">
                            <input type="file" id="profile_picture" name="profile_picture" class="form-control" accept="image/png,image/jpg,image/jpeg" onchange="validateSize(this)" required />
                        </div>
                        <div class="text-danger" id="profile_picture_error"></div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-sm btn-primary" value="Upload" >
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div> -->
        </div>
    </div>
</div>

<%- include('footer'); %>

<script>
    function validateSize(input) {
        const fileSize = input.files[0].size;
        if (fileSize > 100000) { // 100 KB
            $('#profile_picture_error').html('Image size should be less than 100 KB');
            $('#profile_picture').val('');
        } else {
            $('#profile_picture_error').html('');
        }
    }
</script>

<% if (typeof success !== 'undefined' && success != "") { %>
<script type="text/javascript">
    $(document).ready(function () {
        swal({
            text: "<%= success %>",
            icon: "success",
            timer: 2000
        });
    });
</script>
<% } %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>
<script type="text/javascript">
    $(function() {
        $("form[name='register']").validate({
            rules: {
                name: "required",
                email:{
                    required: true,
                    email: true,
                },
                mobile_number:{
                    required: true,
                    minlength:10,
                    maxlength:10
                }
            },
            messages: {
                name: "Please enter name",
                email: {
                    required: "Please enter email",
                    email: "Please enter valid email",
                },
                mobile_number: {
                    required: "Please enter mobile number",
                    minlength: "Please enter valid mobile number",
                    maxlength: "Please enter valid mobile number",
                }
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
</script>