</div>
<!-- footer -->
<footer>
    <div class="container pt30 pb10">
        <div class="row">
            <div class="col-6 col-md-2">
                <h6>Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h6>Contact</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Demo</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Email Us</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h6>Furthur Information</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h4>Ready to get started?</h4>
                <div class="my-4">
                    <a href="<%= baseUrl %>register" class="btn btn-light text-dark border-radius-20 btn-lg fs15 font-weight-500 text-white">Register</a>
                </div>
                <hr class="bg-white" />
                <div>
                    <h6>Follow Us</h6>
                    <div class="social-media-icons">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><b>&copy; 2021. All rights reserved</b></div>
            </div>
        </div>
    </div>
</footer>
<!-- End Of Footer -->

<!-- All scripts -->
<!-- jQuery library -->
<script src="<%= baseUrl %>user/js/jquery.js"></script>

<!-- Bootstrap JavaScript -->
<script src="<%= baseUrl %>user/js/bootstrapjs.js"></script>

<!--Popups js-->
<script src="<%= baseUrl %>user/js/popperjs.js"></script>

<!--Datatables js-->
<script src="<%= baseUrl %>user/js/datatables.js"></script>

<!-- Extra js -->
<script src="<%= baseUrl %>user/js/extrajquery.js"></script>

<script src="<%= baseUrl %>user/js/multiple-carousel.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    $(window).on('load', function () {
        var url = window.location.href;
        $('.nav-item').removeClass('active');
        $('a[href="'+ url +'"]').parent('.nav-item').addClass('active');
    });
</script>
<script>
    function openFilters() {
      document.getElementById("myFiltersOverlay").style.width = "100%";
    }

    function closeFilters() {
      document.getElementById("myFiltersOverlay").style.width = "0";
    }
</script>
</body>
</html>