<div class="col-12">
    <h5 class="font-weight-bold py-3">Properties Nearby</h5>
</div>

<% if (typeof data !== 'undefined' && data.length > 0) { %>
    <% for(var i=0; i < data.length; i++) { %>
        <div class="col-12 py-2">
            <div class="shadow p10 border-radius-5">
                <div class="row">
                    <div class="col-12 col-sm-4 my-auto pr-3 pr-sm-0">
                        <div class="search-property-images">
                            <a href="<%= baseUrl %>property_details/<%= data[i].id %>">
                                <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                    <img src="<%= baseUrl %><%= element %>" class="img-fluid border-radius-5 property-image w-100" alt="" />
                                <% }}) %>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 my-auto">
                        <div class="heading"><%= data[i].property_title %></div>
                        <div>Starts From ₹ <%= data[i].price %></div>
                        <div class="text-grey mt3"><%= data[i].address_line_1 %></div>
                        <div class="row my-1">
                            <div class="col-3 col-sm-4 col-md-3 col-lg-3">
                                <div class="py-1 text-grey">
                                    <i class="fas fa-bath"></i>
                                    <span class="pl5 fs11"><%= data[i].bhk_type %></span>
                                </div>
                            </div>
                            <div class="col-3 col-sm-4 col-md-3 col-lg-3">
                                <div class="py-1 text-grey">
                                    <i class="fas fa-bed"></i>
                                    <span class="pl5 fs11"><%= data[i].bhk_type %></span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-6 col-lg-6">
                                <div class="py-1 text-grey">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                    <span class="pl5 fs11"><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } else { %>
    <div class="col-12">No Properties Found</div>
<% } %>