<% if (typeof data !== 'undefined' && data.length > 0) { %>
    <% for(var i=0; i < data.length; i++) { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block">
            <div class="row p-0 p-sm-2 p-md-3 p-lg-3">
                <div class="col-12 px-3 new-project-card">
                    <div class="border-radius-5 py-3">
                        <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                            <img src="<%= baseUrl %><%= element %>" class="img-fluid rounded" alt="" />
                        <% }}) %>
                    </div>
                    <div class="fs17 h50"><%= data[i].property_title %></div>
                    <% if (locals.userId) { %>
                        <div class="col-12 text-center"><a class="btn btn-sm btn-outline-primary showMobileNumber" data-name="<%= data[i].name %>" data-number="<%= data[i].mobile_number %>"><i class="fas fa-phone-alt"></i><span class="ml-2">Get Contact Details</span></a></div>
                    <% } else { %>
                        <div class="col-12 text-center"><a href="<%= baseUrl %>login" class="btn btn-sm btn-outline-primary"><i class="fas fa-phone-alt"></i><span class="ml-2">Get Contact Details</span></a></div>
                    <% } %>
                    <div><%= data[i].address_line_1 %></div>
                    <div class="pt-1 pb-2 border-bottom-dashed-grey">
                        <span><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></span>
                        <span class="float-right">Starts From ₹ <%= data[i].price %></span>
                    </div>
                    <div class="row">
                        <div class="col-12 rating-block my-1">
                            <div class="row">
                                <div class="col-12 py-1">
                                    <div>
                                        Listed On <%= new Date(data[i].created_at).toLocaleString('default', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 px-0 view-details-btn-block">
                            <a href="<%= baseUrl %>property_details/<%= data[i].id %>" class="view-details-btn btn btn-sm w-100">View Details <i class="fas fa-arrow-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } else { %>
    <div class="col-12">No Properties Found</div>
<% } %>