<div class="col-12 mb-3 px-3">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8 my-auto">
            <h4 class="fs20 font-weight-bold"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data.length; %><% } %> Properties for sale <% if (typeof form_data !== 'undefined' && form_data.location) { %>in <%= (form_data.location) %><% } %></h4>
        </div>
    </div>
</div>
<% if (typeof data !== 'undefined' && data.length > 0) { %>
    <% for(var i=0; i < data.length; i++) { %>
        <div class="col-12 my-2 px-3">
            <div class="shadow px-3 border-radius-5">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3 px-0">
                        <div class="search-property-images">
                            <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                <img src="<%= baseUrl %><%= element %>" class="img-fluid w-100" alt="" />
                            <% }}) %>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-9 py-3">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="fs16 font-weight-bold"><%= data[i].property_title %></div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="text-left text-lg-right fs18 font-weight-bold">
                                    <% if (data[i].price_type == 2) { %>Starts From<% } %> ₹ <%= data[i].price %><% if (data[i].price_type == 3) { %> - <%= data[i].price_range_to %><% } %>
                                </div>
                            </div>
                        </div>
                        <div class="text-grey font-weight-500 py-1 fs14"><%= data[i].address_line_1 %></div>
                        <div class="my-3"><%= data[i].property_description %></div>
                        <div class="pt-3">
                            <span class="text-grey fs15">Area :</span>
                            <span class="pl-4"><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></span>
                        </div>
                        <div>
                            <span class="text-grey fs15">Status :</span>
                            <span class="pl-4"><%= data[i].property_status_value %></span>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12 col-md-12 col-lg-7 my-auto">
                                <div class="">
                                    <% data[i].amenities.split(',').forEach(function (element) { %>
                                        <span class="text-grey apartment-features"><%= element %></span> 
                                    <% }) %>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-5 my-2 my-lg-auto">
                                <div class="text-right text-md-right text-lg-right">
                                    <% if (locals.userId) { %>
                                        <% if (typeof short_list !== 'undefined' && short_list.length > 0) {
                                            var shortListedPropertiesArray = [];
                                            for(var j=0; j < short_list.length; j++) {
                                                shortListedPropertiesArray.push(short_list[j].property_id);
                                            }
                                            var isPropertyShortListed = shortListedPropertiesArray.includes(data[i].id);
                                            if (isPropertyShortListed) { %>
                                                <a class="btn like-btn mr-3 removeFromShortList" data-id="<%= data[i].id %>"><i class="fas fa-heart"></i></a>
                                            <% } else { %>
                                                <a class="btn like-btn mr-3 addToShortList" data-id="<%= data[i].id %>"><i class="far fa-heart"></i></a>
                                            <% }
                                        } else { %>
                                            <a class="btn like-btn mr-3 addToShortList" data-id="<%= data[i].id %>"><i class="far fa-heart"></i></a>
                                        <% } %>
                                    <% } %>
                                    <a href="<%= baseUrl %>property_details/<%= data[i].id %>" class="btn btn-md card-view-details-btn text-white">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } else { %>
    <div class="col-12">No Properties Found</div>
<% } %>