<% if (typeof data !== 'undefined' && data.length > 0) { %>
    <% for(var i=0; i < data.length; i++) { %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-2 my-md-0 my-lg-0 new-project-card-block">
        <div class="row p-0 p-sm-2 p-md-3 p-lg-3">
            <div class="col-12 px-2 new-project-card">
                <div class="border-radius-5 py-2">
                    <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                        <img src="<%= baseUrl %><%= element %>" class="rounded w-100" height="175px" alt="" />
                    <% }}) %>
                </div>
                <div class="heading"><%= data[i].property_title %></div>
                <div><%= data[i].address_line_1 %></div>
                <div class="py-1 border-bottom-dashed-grey">
                    <span><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></span>
                    <span class="float-right">Starts From&nbsp;&nbsp; ₹ <%= data[i].price %></span>
                </div>
                <div class="py-2 border-bottom-dashed-grey">
                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-8 my-auto">
                            <div class="">
                                Listed On <%= new Date(data[i].created_at).toLocaleString('default', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 py-2 py-sm-0 my-auto">
                            <div class="float-right btn btn-sm btn-primary">ShortList</div>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <% if (locals.userId) { %>
                    <a class="btn btn-sm btn-primary showMobileNumber" data-name="<%= data[i].name %>" data-number="<%= data[i].mobile_number %>">Get Contact Details</a>
                    <% } else { %>
                        <a href="<%= baseUrl %>login" class="btn btn-sm btn-primary">Get Contact Details</a>
                    <% } %>
                    <a href="<%= baseUrl %>property_details/<%= data[i].id %>" class="btn-red btn btn-sm float-right">View Details <i class="fas fa-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
<% } else { %>
    <div class="col-12">No Properties Found</div>
<% } %>