<option value="">Select Property Sub-Type</option>
<% if (typeof data !== 'undefined' && data.length > 0) { %>
<% for(var i=0; i < data.length; i++) { %>
    <option value="<%= data[i].id %>" <% if (typeof property_sub_type_id !== 'undefined' && property_sub_type_id) { %><% if (property_sub_type_id == data[i].id) { %>selected<% } %><% } %> ><%= data[i].name %></option>
<% } %>
<% } %>