<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="<%= baseUrl %>user/css/bootstrapcss.css" rel="stylesheet" />

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />

    <!-- Animations -->
    <link href="<%= baseUrl %>user/css/Animations.css" rel="stylesheet" />

    <!-- Font family -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <!--Datatables CSS-->
    <link href="<%= baseUrl %>user/css/datatables.css" rel="stylesheet" />

    <!--Extra CSS-->
    <link href="<%= baseUrl %>user/css/custom.css" rel="stylesheet" />
    <link href="<%= baseUrl %>user/css/extra.css" rel="stylesheet" />

    <link href="<%= baseUrl %>user/css/multiple-carousel.css" rel="stylesheet" />

</head>

<style type="text/css">
    select {
        width: 90%;
        border: none !important;
        padding-left: 3px;
        padding: 15px 0px;
        outline: none !important;
        background-color: #fff !important;
        font-size: 11px;
    }
    @media (max-width: 576px){
        select{
            font-size: 12px;
        }
    }
    @media (max-width: 320px){
        select{
            font-size: 9px;
        }
    }
</style>

<body>
    <!--Goes Up-->
    <div class="topa">
        <i class="fas fa-arrow-up"></i>
    </div>

    <nav class="bg-white navbar-dark fixed-top">
        <div class="navbar navbar-expand-lg header-bg">
            
            <button class="navbar-toggler mx-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->

            <a class="navbar-brand" href="/">
                <!-- <img src="<%= baseUrl %>user/images/logo.png" class="img-fluid" alt="" /> -->
                <h6 class="mb-0 text-uppercase">NorthEast Infra</h6>
            </a>

            <!-- <form class="position-relative mx-2 d-none d-lg-block">
                <div class="form-group mb-0 has-search">
                    <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                    <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
                </div>
            </form> -->

            <!-- Toggler/collapsibe Button -->
            <div class="nav-item d-block d-lg-none">
                <a class="nav-link px-1" href="#">
                    <span class="text-white fs20 cursor-pointer" onclick="openNav()"><i class="fas fa-ellipsis-v"></i></span>
                </a>
            </div>

            <!-- Navbar links -->

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mt-3 mt-lg-0 ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="<%= baseUrl %>">Home</a>
                    </li>
                    <% if (typeof form_data !== 'undefined' && form_data.is_searched) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= baseUrl %>search_property">Search Property</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= baseUrl %>home">Search Property</a>
                    </li>
                    <% } %>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="<%= baseUrl %>post_property">Post Property</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="<%= baseUrl %>services">Services</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Services
                        </a>
                        <div class="dropdown-menu header-dropdown">
                            <div class="row">
                                <div class="col-12 col-md-5 col-lg-5">
                                    <h6 class="pl30 font-weight-bold mb-3">Home Services</h6>
                                    <ul class="list-unstyled mb-2">
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="<%= baseUrl %>services">All Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Plumbing Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Electrician Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Painting Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Mason Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Tiles Work Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Carpenter Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Building Material Services</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-7 col-lg-7">
                                    <h6 class="pl30 font-weight-bold mb-3">Legal & Documentation Services   </h6>
                                    <ul class="list-unstyled mb-2">
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Home Plan Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Permission</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Structural Plan Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Registration of Property</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">New Tap Connection Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Home Mortgage Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item services-dropdown-item" href="#">Electric Meter Services</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fas fa-globe fs18 pr-2"></i> English
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Telugu</a>
                        </div>
                    </li>
                    <% if (locals.userId) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= baseUrl %>logout">
                            <span class="btn btn-sm btn-blue-transparent px-3">Logout</span>
                        </a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= baseUrl %>login">
                            <span class="btn btn-sm btn-blue-transparent px-3">Login or Register</span>
                        </a>
                    </li>
                    <% } %>
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link">
                            <span class="text-white fs20 cursor-pointer" onclick="openNav()"><i class="fas fa-ellipsis-v"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <% if (locals.userId) { %>
            <a href="<%= baseUrl %>my_listings">My Listings</a>
            <% if (locals.isUserServiceSeller) { %>
                <a href="<%= baseUrl %>register_as_partner/<%= locals.userId %>">My Services</a>
                <a href="<%= baseUrl %>viewBookings">View Bookings</a>
            <% } else { %>
                <a href="<%= baseUrl %>register_as_partner">List Your Service</a>
            <% } %>
            <a href="<%= baseUrl %>edit_profile">Edit Profile</a>
            <a href="<%= baseUrl %>shortListedProperties">Short Listed Properties</a>
        <% } %>
        <a href="<%= baseUrl %>settings">Settings</a>
    </div>

    <div class="content">
        <!-- <div class="col-12">
            <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
                <div class="form-group mb-0 has-search">
                    <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                    <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
                </div>
            </form>
        </div> -->
    <!-- End Of Header -->