<%- include('header'); %>

<!-- Content -->
<div class="content">

    <div class="container-fluid px-0">
        <div class="home-banner">
            <div class="container px-0 px-md-3">
                <form method="POST" action="<%= baseUrl %>search_property">
                    <input type="hidden" name="is_searched" value="1">
                    <div class="row mx-2 mx-md-3">
                        <div class="col-12 col-md-12 col-lg-12 py-5 my-auto">
                            <div class="row">
                                <div class="col-12 col-md-12 px-0 px-md-3">
                                    <div class="font-weight-bold text-center fs35 mb-3">
                                        <span class="text-white">Dream Home is</span><span class=" text-yellow"> Right Here </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt40 pb-4 px-0 px-md-3">
                                <div class="col-12 px-0">
                                    <div class="px-3">
                                        <h5 class="mb-4 font-weight-bold text-white">Find Property</h5>
                                    </div>
                                    <div class="row mx-3 mx-md-0 property-filter-block">
                                        <div class="col-12">
                                            <div class="row filter-bottom-line horizontal-scroll">
                                                <div class="col-sm-3 col-md-2 col-lg-1 px-0">
                                                    <div class="pt-2 cursor-pointer">
                                                        <a class="property-filter property-filter-active pt10 pb10 d-block">All</a>
                                                        <input type="radio" class="available_for_filter" name="available_for" value="" hidden>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-2 col-lg-1 px-0">
                                                    <div class="pt-2 cursor-pointer">
                                                        <a class="property-filter pt10 pb10 d-block">Buy
                                                        </a>
                                                        <input type="radio" class="available_for_filter" name="available_for" value="1" hidden>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-2 col-lg-1 px-0">
                                                    <div class="pt-2 cursor-pointer">
                                                        <a class="property-filter pt10 pb10 d-block">Rent
                                                        </a>
                                                        <input type="radio" class="available_for_filter" name="available_for" value="2" hidden>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-2 col-lg-1 px-0">
                                                    <div class="pt-2 cursor-pointer">
                                                        <a class="property-filter pt10 pb10 d-block">Lease</a>
                                                        <input type="radio" class="available_for_filter" name="available_for" value="3" hidden>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 bg-white py-3">
                                            <div class="row">
                                                <div class="col-12 col-md-5 col-lg-3 py-1">
                                                    <div>
                                                        <input type="text" class="form-control h50 w-100 border-0 shadow" name="location" id="location" placeholder="Search BY Location, City etc" autocomplete="off">
                                                        <input type="text" id="lat" name="latitude" hidden>
                                                        <input type="text" id="lng" name="longitude" hidden>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-1 col-lg-1">
                                                    <div class="text-center lh40">Or</div>
                                                </div>
                                                <div class="col-12 col-md-5 col-lg-3 py-1">
                                                    <div>
                                                        <input list="pincodes" class="form-control w-100 h50 border-0 shadow" name="pincode" id="pincode" placeholder="Search BY Pincode" autocomplete="off">
                                                        <datalist id="pincodes">
                                                            <% if (typeof pincodes !== 'undefined' && pincodes.length > 0) { %>
                                                            <% for(var i=0; i < pincodes.length; i++) { %>
                                                                <option value="<%= pincodes[i].pincode %>">
                                                            <% } %>
                                                            <% } %>
                                                        </datalist>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4 col-lg-2 py-1 px-3 px-lg-1 my-auto order-md-2 order-1">
                                                    <div class="fs15 text-center text-lg-center cursor-pointer" id="advancedFilters">
                                                        <i class="fas fa-sliders-h"></i> <span class="pl-2">Advanced Search</span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-3 col-lg-2 py-2 py-lg-1 my-auto">
                                                    <div class="text-center text-lg-right">
                                                        <button id="generalSearchButton" class="btn btn-red"><span>Search</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 home-property-filter-block px-md-0 px-3 py-3" id="advancedFiltersBlock" style="display: none;">
                                    <div class="row">
            
                                        <div class="col-12 col-md-6 col-lg-3 px-3">
                                            <div class="my-2 font-weight-bold text-white">PROPERTY TYPE</div>
                                            <div class="bg-white shadow mt-2 pl-3 pr-1 border-radius-10">
                                                <div>
                                                    <span><i class="fas fa-compass"></i></span>
                                                    <select class="body-font-color" name="property_type_id" id="property_type_id">
                                                        <option value="">Select Property Type</option>
                                                        <% if (typeof property_types !== 'undefined' && property_types.length > 0) { %>
                                                        <% for(var i=0; i < property_types.length; i++) { %>
                                                            <option value="<%= property_types[i].id %>"><%= property_types[i].name %></option>
                                                        <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-12 col-md-6 col-lg-3 px-3">
                                            <div class="my-2 font-weight-bold text-white">PROPERTY SUB-TYPE</div>
                                            <div class="bg-white shadow mt-2 pl-3 pr-1 border-radius-10">
                                                <div>
                                                    <span><i class="fas fa-compass"></i></span>
                                                    <select class="body-font-color" name="property_sub_type_id" id="property_sub_type_id">
                                                        <option value="">Select Property Sub-Type</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-12 col-md-6 col-lg-3 px-3">
                                            <div class="my-2 font-weight-bold text-white">Price</div>
                                            <div class="mt-2 pr-1 border-radius-10">
                                                <div>
                                                    <input type="number" name="max_price" min="0" placeholder="Price Upto" class="form-control h50">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-3 px-3 my-auto">
                                            <div class="mt33 text-right text-sm-left" id="closeAdvancedFilters">
                                                <a class="btn send-btn text-white border-radius-10 mr-3">Close</a>
                                                <button class="btn send-btn text-white border-radius-10"><i class="fas fa-search"></i><span class="pl-2">Search</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of home Banner -->

    <% if (locals.userId) { %>
    <!-- Recently Visited Properties -->
    <div class="container mt-4 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6">
                <h5 class="font-weight-bold mb-3">Recently Visited Properties</h5>
            </div>
            <div class="col-12 col-sm-4 col-md-6">
                <div class="text-right">
                    <a href="<%= baseUrl %>search_property" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4">
                    <div class="row" id="recentlyViewedProperties">
                        <!-- DATA FETCHED VIA AJAX CALL -->
                    </div>
                </div>
                <!-- <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                    <div class="carousel-inner row w-100 mx-auto" role="listbox">
                        
                        <% if (typeof data !== 'undefined' && data.length > 0) { %>
                        <% for(var i=0; i < data.length; i++) { %>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block carousel-item col-md-3 <% if(i == 0) { %>active<% } %>">
                            <div class="row p-0 p-sm-2 p-md-3 p-lg-3">
                                <div class="col-12 px-3 new-project-card">
                                    <div class="border-radius-5 py-3">
                                        <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                            <img src="<%= baseUrl %><%= element %>" class="img-fluid rounded" alt="" />
                                        <% }}) %>
                                    </div>
                                    <div class="fs17 h50"><%= data[i].property_title %></div>
                                    <% if (locals.userId) { %>
                                        <div class="col-12 text-center"><a class="btn btn-sm btn-outline-primary showMobileNumber" data-name="<%= data[i].name %>" data-number="<%= data[i].mobile_number %>"><i class="fas fa-phone-alt"></i><span class="ml-2">Get Contact Details</span></a></div>
                                    <% } else { %>
                                        <div class="col-12 text-center"><a href="<%= baseUrl %>login" class="btn btn-sm btn-outline-primary"><i class="fas fa-phone-alt"></i><span class="ml-2">Get Contact Details</span></a></div>
                                    <% } %>
                                    <div><%= data[i].address_line_1 %></div>
                                    <div class="pt-1 pb-2 border-bottom-dashed-grey">
                                        <span><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></span>
                                        <span class="float-right">Starts From ₹ <%= data[i].price %></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 rating-block my-1">
                                            <div class="row">
                                                <div class="col-12 py-1">
                                                    <div>
                                                        Listed On <%= new Date(data[i].created_at).toLocaleString('default', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 px-0 view-details-btn-block">
                                            <a href="<%= baseUrl %>property_details/<%= data[i].id %>" class="view-details-btn btn btn-sm w-100">View Details <i class="fas fa-arrow-right ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% } else { %>
                            <div class="col-12">No Properties Found</div>
                        <% } %>
                        
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- End of Recently Visited Properties -->
    <% } %>

    <% if (locals.userId) { %>
    <!-- Short Listed Properties -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <h5 class="font-weight-bold mb-3">Short Listed Properties</h5>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="text-right">
                    <a href="<%= baseUrl %>search_property" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4">
                    <div class="row" id="shortListedProperties">
                        <!-- DATA FETCHED VIA AJAX CALL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Short Listed Properties -->
    <% } %>

    <!-- New Properties -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 my-auto">
                <h5 class="font-weight-bold mb-2 mb-sm-0">New Properties</h5>
            </div>
            <div class="col-12 col-sm-6 col-md-6 my-auto">
                <div class="text-right">
                    <a href="<%= baseUrl %>search_property" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 py-2">
                    <div class="row">
                        <div class="col-12 px-3 px-md-0">
                            <nav class="navbar navbar-expand-md px-0">
                                <ul class="new-projects-navbar mb-0">
                                    <% if (typeof property_types !== 'undefined' && property_types.length > 0) { %>
                                    <% for(var i=0; i < property_types.length; i++) { %>
                                        <li class="nav-item property-nav-item d-inline-flex">
                                            <a class="property_navlink text-decoration-none body-font-color <% if (i == 0) { %>active_tab_btn<% } %>" data-id="<%= property_types[i].id %>"><%= property_types[i].name %></a>
                                        </li>
                                    <% } %>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="row py-2" id="newProperties">
                        <!-- DATA FETCHED VIA AJAX CALL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of New Properties -->

    <!-- Featured Properties -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 my-auto">
                <h5 class="font-weight-bold mb-0">Featured Properties</h5>
            </div>
            <div class="col-12 col-sm-6 col-md-6 my-auto">
                <div class="text-right">
                    <a href="<%= baseUrl %>search_property" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 py-2">
                    <div class="row" id="featuredProperties">
                        <!-- DATA FETCHED VIA AJAX CALL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Featured Properties -->

    <!-- Benifits Section -->
    <div class="container-fluid mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="font-weight-bold mb-3">Benifits with us</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="benifits-section mb-4">
        <div class="container-fluid py-3 py-lg-2 mt-2 py-lg-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card1">
                            <div>
                                <img src="<%= baseUrl %>user/images/benifits/verified-property.png" class="benifit-icon mx-auto d-block" alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Verified Properties</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card2">
                            <div>
                                <img src="<%= baseUrl %>user/images/benifits/easy-search.png" class="benifit-icon mx-auto d-block" alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Quick and Easy Search</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card3">
                            <div>
                                <img src="<%= baseUrl %>user/images/benifits/listing.png" class="benifit-icon mx-auto d-block" alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Free Listing</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card4">
                            <div>
                                <img src="<%= baseUrl %>user/images/benifits/search-location.png" class="benifit-icon mx-auto d-block" alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Search By Location</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Benifits Section -->

    <!-- Download App -->
    <div class="container py-4 px30 my-5">
        <div class="row">
            <div class="col-12 download-app-bg border-radius-30 px-3 px-md-5">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 py-5 my-auto">
                        <div class="font-weight-bold text-white fs35 mb-3 fs-sm-18">Try our Real Estate app for free, Download Now.</div>
                        <div class="text-white">
                            
                        </div>
                        <div class="row pt-5">
                            <div class="col-6 col-md-3 text-right pr-0">
                                <a href="#" class="py-1"><img src="<%= baseUrl %>user/images/app-store.png" class="img-fluid" alt="" /></a>
                            </div>
                            <div class="col-6 col-md-3 text-left pl-0">
                                <a href="#" class="ml-2 py-1"><img src="<%= baseUrl %>user/images/google-play.png" class="img-fluid" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 pt-0 pt-lg-5 px-3 px-md-5 my-auto">
                        <div>
                            <img src="<%= baseUrl %>user/images/app-image.png" class="img-fluid mx-auto d-block" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Download App -->

</div>
<!-- End Of Content -->
        
<%- include('footer'); %>

<script>
    $(document).ready(function () {
        $('body').on('change', '#property_type_id', function () {
            var property_type_id = $('#property_type_id').val();
            $.ajax({
                url: "<%= baseUrl %>getPropertySubTypesByPropertyType",
                type: "POST",
                data: { property_type_id: property_type_id },
                dataType: "html",
                success: function (data) {
                    $('#property_sub_type_id').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#property_sub_type_id').html('Something went wrong');
                }
            });
        });
        $('body').on('click', '#advancedFilters', function () {
            $('#advancedFiltersBlock').show();
            $('#generalSearchButton').hide();
        });
        $('body').on('click', '#closeAdvancedFilters', function () {
            $('#advancedFiltersBlock').hide();
            $('#generalSearchButton').show();
        });
    });
</script>

<% if (locals.userId) { %>
<script>
    $(window).on('load', function () {
        var user_id = "<%= locals.userId %>";
        $.ajax({
            url: "<%= baseUrl %>getRecentlyViewedProperties",
            type: "POST",
            data: { user_id : user_id },
            dataType: "html",
            success: function (data) {
                $('#recentlyViewedProperties').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#recentlyViewedProperties').html('Something went wrong');
            }
        });
        $.ajax({
            url: "<%= baseUrl %>getShortListedProperties",
            type: "POST",
            data: { user_id : user_id },
            dataType: "html",
            success: function (data) {
                $('#shortListedProperties').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#shortListedProperties').html('Something went wrong');
            }
        });
    });
</script>
<% } %>

<script>
    $(window).on('load', function () {
        var property_type_id = $('.property-nav-item').find('.active_tab_btn').data('id');
        $.ajax({
            url: "<%= baseUrl %>getPropertiesByPropertyType",
            type: "POST",
            data: { property_type_id: property_type_id },
            dataType: "html",
            success: function (data) {
                $('#newProperties').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#newProperties').html('Something went wrong');
            }
        });
    });
    $(document).ready(function () {
        $('.property_navlink').on('click', function () {
            $('.property_navlink').removeClass('active_tab_btn');
            $(this).addClass('active_tab_btn');
            var property_type_id = $(this).data('id');
            $.ajax({
                url: "<%= baseUrl %>getPropertiesByPropertyType",
                type: "POST",
                data: { property_type_id: property_type_id },
                dataType: "html",
                success: function (data) {
                    $('#newProperties').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#newProperties').html('Something went wrong');
                }
            });
        });
    });
</script>

<script>
    $(window).on('load', function () {
        $.ajax({
            url: "<%= baseUrl %>getFeaturedProperties",
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#featuredProperties').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#featuredProperties').html('Something went wrong');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".property-filter").click(function(){
            $('.property-filter-active').removeClass('property-filter-active');
            $('.available_for_filter').attr('checked', false);
            $(this).addClass('property-filter-active');
            $(this).next('.available_for_filter').attr('checked', true);
        });

        $('body').on('click', '.showMobileNumber', function () {
            var name = $(this).data('name');
            var number = $(this).data('number');
            swal({
                title: 'Name : ' + name,
                text: 'Mobile Number : ' + number
            });
        })
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAfgxZy-rkWd8nz4xLobtiSNnh371-mL48&libraries=places&callback=initAutocomplete" async defer></script>

<script>
	var isPlaceChanged = false;
    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
          (document.getElementById('location')),
          {types: ['geocode']});
      	autocomplete.addListener('place_changed', fillInAddress);
    }
    function fillInAddress() {
        var place = autocomplete.getPlace();
        isPlaceChanged = true;
        bindDataToForm(place.formatted_address,place.geometry.location.lat(),place.geometry.location.lng());
    }
    function bindDataToForm(address,lat,lng){
   		document.getElementById('lat').value = lat;
   		document.getElementById('lng').value = lng;
	}
	$(function () {
        $("#location").keydown(function () {
            isPlaceChanged = false;
        });

        $("#location").change(function () {
            if (!isPlaceChanged) {
                $("#location").val('');
            }
        });
    });
</script>