<%- include('header'); %>

<div class="container-fluid pt-4">
    <div class="container vertical-center">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-7 my-auto">
                <!--  <div>
                    <img src="images/login1.png" class="img-fluid mx-auto d-block" alt="login-image" />
                </div> -->
            </div>
            <div class="col-12 col-md-5 col-lg-5 my-auto">
                <% if (typeof error !== 'undefined' && error != "") { %>
                    <div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
                <% } %>
                <div class="px-1 py-5 p-lg-5">

                    <h5>Sign In to Real Estate</h5>

                    <form method="POST" action="<%= baseUrl %>login" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="fs13 font-weight-500"><span>Don't have an account yet ?</span><a href="<%= baseUrl %>register" class="text-red pl-1"> SignUp</a></div>
                        </div>
                        <div class="form-group mt-4">
                            <label>Email / Mobile Number</label>
                            <div class="inputWithIcon">
                                <input type="text" name="email_or_mobile_number" id="email_or_mobile_number" class="form-control" placeholder="Email / Mobile Number" required />
                                <i class="far fa-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="inputWithIcon">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
                                <i class="fas fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-red fs13 w-100 border-radius-10">SIGN IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>