<%- include('header'); %>

<div class="container-fluid">
    <div class="row px-3">
        <div class="col-12 col-md-12 col-lg-3 mt-1 shadow"></div>

        <div class="col-12 col-md-12 col-lg-9 px-md-0 pl35 pr-4 pt-2 pb-5">
            <div class="row">
                <div class="col-12 mb-3 px-3">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8 my-auto">
                            <h4 class="fs20 font-weight-bold"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data.length; %><% } %> Services</h4>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 py-2 py-md-0 my-auto">
                            <div class="d-flex float-right">
                                <div class="mr-2">
                                    <button id="list-view-btn" class="btn btn-sm list-btn btn-highlight"><i class="fas fa-list"></i></button>
                                </div>
                                <div class="mr-2">
                                    <button id="card-view-btn" class="btn btn-sm view-btn">
                                        <i class="fas fa-th-large"></i>
                                    </button>
                                </div>
                                <div class="">
                                    <select class="form-control bg-transparent-select">
                                        <option>Relavance</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="list-view">

                <% if (typeof data !== 'undefined' && data.length > 0) { %>
                <% for(var i=0; i < data.length; i++) { %>
                <div class="col-12 my-2 px-3">
                    <div class="shadow px-3 border-radius-5">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-3 px-0">
                                <div>
                                    <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                        <img src="<%= baseUrl %><%= element %>" class="img-fluid w-100" alt="" />
                                    <% }}) %>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-9 py-3">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="fs16 font-weight-bold"><%= data[i].property_title %></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="text-left text-lg-right fs18 font-weight-bold">
                                            <% if (data[i].price_type == 2) { %>Starts From<% } %> ₹ <%= data[i].price %><% if (data[i].price_type == 3) { %> - <%= data[i].price_range_to %><% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-grey font-weight-500 py-1 fs14">By <%= data[i].society_name %></div>
                                <!-- <div class="text-danger text-right fs15 font-weight-bold">EMI Starts at ₹ 23 K</div> -->
                                <div class="pt-3">
                                    <span class="text-grey fs15">Area :</span>
                                    <span class="pl-4 font-weight-bold"><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></span>
                                </div>
                                <div>
                                    <span class="text-grey fs15">Status :</span>
                                    <span class="pl-4 font-weight-bold">Unfurnished, Immediately Available</span>
                                </div>
                                <div class="row mt-4 pt-4">
                                    <div class="col-12">
                                        <div class="text-right">
                                            <div>Views : <%= data[i].total_views %></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-md-3 my-auto">
                                                <div class="pt-2">
                                                    <a href="#" class="btn btn-primary text-white">View Enquiries</a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-9 my-auto">
                                                <div class="text-left text-lg-right pt-2">
                                                    <a href="<%= baseUrl %>post_property/<%= data[i].id %>" class="btn btn-info my-1 text-white">Edit</a>
                                                    <% if (data[i].status == 0) { %>
                                                        <a data-id="<%= data[i].id %>" data-status="1" class="btn btn-success text-white my-2 makeActive">Make Active</a>
                                                    <% } %>
                                                    <% if (data[i].status == 1) { %>
                                                        <a data-id="<%= data[i].id %>" data-status="0" class="btn btn-danger text-white my-2 makeInActive">Make In-Active</a>
                                                    <% } %>
                                                    <a data-id="<%= data[i].id %>" class="btn btn-danger my-1 text-white deleteProperty">Delete</a>
                                                    <a href="<%= baseUrl %>property_details/<%= data[i].id %>" class="btn btn-md contact-btn my-1 text-white">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                    <div class="col-12">No Properties Found</div>
                <% } %>

            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>

<% if (typeof error !== 'undefined' && error != "") { %>
<script type="text/javascript">
    $(document).ready(function () {
        swal({
            text: "<%= error %>",
            icon: "error",
            timer: 2000
        });
    });
</script>
<% } %>

<% if (typeof success !== 'undefined' && success != "") { %>
<script type="text/javascript">
    $(document).ready(function () {
        swal({
            text: "<%= success %>",
            icon: "success",
            timer: 2000
        });
    });
</script>
<% } %>

<script type="text/javascript">
	$(document).ready(function () {
		$('body').on('click', '.makeActive, .makeInActive', function () {
			var btn = $(this);
			var id = btn.data('id');
			var status = btn.data('status');
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>admin/properties/changePropertyStatus/"+id+"/"+status,
					success: function(data){
						if (status == 1) {
							btn.data('status', 0);
							btn.removeClass('btn btn-success text-white my-2 makeActive');
							btn.addClass('btn btn-danger text-white my-2 makeInActive');
							btn.html('Make In-Active');
						} else {
							btn.data('status', 1);
							btn.removeClass('btn btn-danger text-white my-2 makeInActive');
							btn.addClass('btn btn-success text-white my-2 makeActive');
							btn.html('Make Active');
						}
						swal({
							text: "Status changed",
							icon: "success",
							timer: 2000
						});
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});

        $('body').on('click', '.deleteProperty', function () {
			var btn = $(this);
			var id = btn.data('id');
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>admin/properties/deleteProperty/"+id,
                    dataType: "json",
					success: function(data){
						swal({
							text: data.message,
							icon: "success",
							timer: 2000
						});
                        setTimeout(function(){ location.reload(true) }, 2000)
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
	});
</script>