<%- include('header'); %>

<style type="text/css">
    ::placeholder {
        color: #9f9f9f !important;
        font-size: 12px;
        font-weight: normal;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #9f9f9f !important;
        font-size: 12px;
        font-weight: normal;
    }

    ::-ms-input-placeholder {
        color: #9f9f9f !important;
        font-size: 12px;
        font-weight: normal;
    }
    .form-control{
        border: 0px !important;
        border-bottom: 1px solid #ced4da !important;
        border-radius: 0px;
        padding-left: 0px;
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-bottom: 2px solid #134b96;
        outline: 0;
        box-shadow: none;
    }
</style>

<div class="container py-2">
    <div class="row mx-1">
        <div class="col-12 py-4 border-radius-20">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3 class="mb-4 d-inline-block">List Your Property</h3>
                    </div>
                </div>

                <% if (typeof error !== 'undefined' && error != "") { %>
                    <div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
                <% } %>
                <% if (typeof errors !== 'undefined' && errors != "") { errors.forEach( function(element){ %>
                    <div class="col-12 col-sm-12 text-center text-danger"><%= element.msg %></div>
                <% }); } %>
                
                <form name="post_property" method="POST" action="<%= baseUrl %>post_property" enctype="multipart/form-data">
                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 shadow p30 border-radius-5 mb30">
                    <div class="mb30 heading">Your Details</div>
                    
                        <input type="hidden" name="id" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>" >
                        <input type="text" name="user_id" value="<% if (typeof user_data !== 'undefined' && user_data.length > 0) { %><%= user_data[0].id %><% } %>" class="form-control" readonly hidden />
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-4 col-md-3 col-form-label">Name</label>
                            <div class="col-12 col-sm-8 col-md-9">
                                <input type="text" name="name" value="<% if (typeof user_data !== 'undefined' && user_data.length > 0) { %><%= user_data[0].name %><% } %>" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-4 col-md-3 col-form-label my-auto">Contact Number</label>
                            <div class="col-12 col-sm-8 col-md-9 my-auto">
                                <input type="text" name="mobile_number" value="<% if (typeof user_data !== 'undefined' && user_data.length > 0) { %><%= user_data[0].mobile_number %><% } %>" class="form-control" readonly />
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-6 col-md-7">
                                        <div>Phone Number Visibility to Buyers</div>
                                    </div>
                                    <div class="col-12 col-sm-3 col-md-2 my-1 my-md-0">
                                        <input type="radio" class="p-radio-btn" name="mobile_number_visibility" <% if (typeof user_data !== 'undefined' && user_data.length > 0) { if (user_data[0].mobile_number_visibility == 1){ %>checked<% }} %> ><span class="pl25">Show</span>
                                    </div>
                                    <div class="col-12 col-sm-3 col-md-2 my-md-0">
                                        <input type="radio" class="p-radio-btn" name="mobile_number_visibility" <% if (typeof user_data !== 'undefined' && user_data.length > 0) { if (user_data[0].mobile_number_visibility == 0){ %>checked<% }} %> ><span class="pl25">Hide</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-4 col-md-3 col-form-label py-sm-0">Alternate Contact Number</label>
                            <div class="col-12 col-sm-8 col-md-9">
                                <input type="number" name="alt_mobile_number" value="<% if (typeof user_data !== 'undefined' && user_data.length > 0) { %><%= user_data[0].alt_mobile_number %><% } %>" class="form-control" placeholder="Alternate Contact Number" />
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-6 col-md-7">
                                        <div>Alternate Phone Number Visibility to Buyers</div>
                                    </div>
                                    <div class="col-12 col-sm-3 col-md-2 my-1 my-md-0">
                                        <input type="radio" class="p-radio-btn" name="alt_mobile_number_visibility" <% if (typeof user_data !== 'undefined' && user_data.length > 0) { if (user_data[0].alt_mobile_number_visibility == 1){ %>checked<% }} %> /><span class="pl25">Show</span>
                                    </div>
                                    <div class="col-12 col-sm-3 col-md-2 my-md-0">
                                        <input type="radio" class="p-radio-btn" name="alt_mobile_number_visibility" <% if (typeof user_data !== 'undefined' && user_data.length > 0) { if (user_data[0].alt_mobile_number_visibility == 0){ %>checked<% }} %> /><span class="pl25">Hide</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-4 col-md-3 col-form-label">Email</label>
                            <div class="col-12 col-sm-8 col-md-9">
                                <input type="email" name="email" value="<% if (typeof user_data !== 'undefined' && user_data.length > 0) { %><%= user_data[0].email %><% } %>" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-4 col-md-3 col-form-label">You Are</label>
                            <div class="col-12 col-sm-8 col-md-9">
                                <div class="row">
                                    <div class="col-4">
                                        <input type="radio" name="seller_type" value="Owner" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].seller_type == "Owner") { %>checked<% } %><% } %> /> Owner
                                    </div>
                                    <div class="col-4">
                                        <input type="radio" name="seller_type" value="Builder" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].seller_type == "Builder") { %>checked<% } %><% } %> /> Builder
                                    </div>
                                    <div class="col-4">
                                        <input type="radio" name="seller_type" value="Dealer" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].seller_type == "Dealer") { %>checked<% } %><% } %> /> Dealer
                                    </div>
                                </div>
                                <label id="seller_type-error" class="error" for="seller_type"></label>
                            </div>
                        </div>
                        
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-4 col-md-3 col-form-label">About</label>
                            <div class="col-12 col-sm-8 col-md-9">
                                <textarea class="form-control " rows="4" name="about"><% if (typeof user_data !== 'undefined' && user_data.length > 0) { %><%= user_data[0].about %><% } %></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 shadow p30 border-radius-5 mb30">
                        <div class="heading mb30">Property Details</div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-12">
                                <label>Property Available For</label>
                                <div class="row pt10">
                                    <div class="col-6 col-sm-3 col-md-3">
                                        <input type="radio" class="p-radio-btn" name="available_for" value="1" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].available_for == 1) { %>checked<% } %><% } %> /><span class="pl25">For Sale</span>
                                    </div>
                                    <div class="col-6 col-sm-3 col-md-3">
                                        <input type="radio" class="p-radio-btn" name="available_for" value="2" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].available_for == 2) { %>checked<% } %><% } %> /><span class="pl25">For Rent</span>
                                    </div>
                                    <div class="col-6 col-sm-3 col-md-3">
                                        <input type="radio" class="p-radio-btn" name="available_for" value="3" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].available_for == 3) { %>checked<% } %><% } %> /><span class="pl25">For Lease</span>
                                    </div>
                                    <div class="col-6 col-sm-3 col-md-3">
                                        <input type="radio" class="p-radio-btn" name="available_for" value="4" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].available_for == 4) { %>checked<% } %><% } %> /><span class="pl25">All</span>
                                    </div>
                                </div>
                                <label id="available_for-error" class="error" for="available_for"></label>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-12 my-1">
                                <div>
                                    <input type="text" name="property_title" class="form-control" placeholder="Property Tittle" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_title %><% } %>" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <select class="form-control" name="property_type_id" id="property_type_id" required>
                                        <option value="">Select Property Type</option>
                                        <% if (typeof property_types !== 'undefined' && property_types.length > 0) { %>
                                        <% for(var i=0; i < property_types.length; i++) { %>
                                            <option value="<%= property_types[i].id %>" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].property_type_id == property_types[i].id) { %>selected<% } %><% } %> ><%= property_types[i].name %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <select class="form-control" name="property_sub_type_id" id="property_sub_type_id" required>
                                        <option value="">Select Property Sub-Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                <select class="form-control" name="bhk_type" required>
                                    <option value="">BHK Type</option>
                                    <% for(var i=1; i <= 5; i++) { %>
                                    <option value="<%= i %>" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].bhk_type == i) { %>selected<% } %><% } %> ><%= i %></option>
                                    <% } %>
                                </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <select class="form-control" name="gated_security" required>
                                        <option value="">Select Gated Security</option>
                                        <option value="Yes" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].gated_security == "Yes") { %>selected<% } %><% } %> >Yes</option>
                                        <option value="No" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].gated_security == "No") { %>selected<% } %><% } %> >No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <select class="form-control" name="floor" id="floor" required>
                                        <option value="">Select Floor</option>
                                        <% for(var i=1; i <= 10; i++) { %>
                                        <option value="<%= i %>" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].floor == i) { %>selected<% } %><% } %> ><%= i %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <select class="form-control" name="total_floors" required>
                                        <option value="">Select Total Floor</option>
                                        <% for(var i=1; i <= 10; i++) { %>
                                        <option value="<%= i %>" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].total_floors == i) { %>selected<% } %><% } %> ><%= i %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <select class="form-control" name="property_age" required>
                                        <option value="">Select Property Age</option>
                                        <% for(var i=1; i <= 10; i++) { %>
                                        <option value="<%= i %>" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].property_age == i) { %>selected<% } %><% } %> ><%= i %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                <select class="form-control" name="facing" required>
                                    <option value="">Select Facing</option>
                                    <option value="East" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].facing == "East") { %>selected<% } %><% } %> >East</option>
                                    <option value="West" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].facing == "West") { %>selected<% } %><% } %> >West</option>
                                    <option value="North" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].facing == "North") { %>selected<% } %><% } %> >North</option>
                                    <option value="South" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].facing == "South") { %>selected<% } %><% } %> >South</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-6 my-1">
                                <div class="row">
                                    <div class="col-8 col-md-8">
                                        <input type="number" name="property_size" class="form-control" placeholder="Property Size" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_size %><% } %>" required />
                                    </div>
                                    <div class="col-4 col-md-4 pl-0">
                                        <select class="form-control" name="property_size_type" required>
                                            <option value="1" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].property_size_type == 1) { %>selected<% } %><% } %> >Sft</option>
                                            <option value="2" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].property_size_type == 2) { %>selected<% } %><% } %> >Acres</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <input type="text" name="society_name" class="form-control" placeholder="Society Name" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].society_name %><% } %>" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-3 my-auto">
                                <label>Price</label>
                            </div>
                            <div class="col-md-9">
                                <div class="row my-2 my-md-3">
                                    <div class="col-md-5 my-2 my-md-auto">
                                        <div>
                                            <input type="radio" class="p-radio-btn price_type" name="price_type" value="1" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].price_type == 1) { %>checked<% } %><% } %> ><span class="pl25">Fixed</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 my-2 my-md-auto">
                                        <div>
                                            <!-- <input type="text" placeholder="Enter Price" class="form-control" name="price"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-5 my-2 my-md-auto">
                                        <div>
                                            <input type="radio" class="p-radio-btn price_type" name="price_type" value="2" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].price_type == 2) { %>checked<% } %><% } %> ><span class="pl25">Starting From</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 my-2 my-md-auto">
                                        <div>
                                            <!-- <input type="text" placeholder="Enter Price" class="form-control" name="price"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-5 my-2 my-md-auto">
                                        <div>
                                            <input type="radio" class="p-radio-btn price_type" name="price_type" value="3" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].price_type == 3) { %>checked<% } %><% } %> ><span class="pl25">Range</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 my-2 my-md-auto">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="text" placeholder="From" class="form-control" name="price" id="price" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].price %><% } %>" >
                                            </div>
                                            <div class="col-6">
                                                <input type="text" placeholder="To" class="form-control" name="price_range_to" id="price_range_to" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].price_range_to %><% } %>" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 my-md-auto">
                                        <label id="price_type-error" class="error" for="price_type"></label>
                                    </div>
                                    <div class="col-md-7 my-md-auto">
                                        <div class="row">
                                            <div class="col-6">
                                                <label id="price-error" class="error" for="price"></label>
                                            </div>
                                            <div class="col-6">
                                                <label id="price_range_to-error" class="error" for="price_range_to"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-6 my-1">
                                <div>
                                    <select class="form-control" name="property_status_id" id="property_status_id" required>
                                        <option value="">Select Property Status</option>
                                        <% if (typeof property_status !== 'undefined' && property_status.length > 0) { %>
                                        <% for(var i=0; i < property_status.length; i++) { %>
                                            <option value="<%= property_status[i].id %>" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].property_type_id == property_status[i].id) { %>selected<% } %><% } %> ><%= property_status[i].name %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-1">
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12">
                                <label>Property Description</label>
                                <div>
                                    <textarea class="form-control " rows="4" name="property_description" required><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_description %><% } %></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <div class="col-12 col-md-6">
                                <label>Upload Floor Plan (550*440)</label>
                                <div id="floorPlanImagesInputDiv">
                                    <div class="row">
                                        <div class="col-10">
                                            <input type="file" class="form-control h39" name="floor_plan" accept="image/png,image/jpg,image/jpeg" <% if (typeof data !== 'undefined' && data.length > 0) { } else { %>required<% } %> >
                                        </div>
                                        <div class="col-2">
                                            <a class="btn btn-sm btn-primary" id="addFloorPlanImage"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                    
                                    <input type="hidden" name="floor_plan_edit" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].floor_plan %><% } %>" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-md-6">
                                <label>Upload Images (1440*850)</label>
                                <div id="propertyImagesInputDiv">
                                    <div class="row">
                                        <div class="col-10">
                                            <input type="file" class="form-control h39" name="property_images" accept="image/png,image/jpg,image/jpeg" <% if (typeof data !== 'undefined' && data.length > 0) { } else { %>required<% } %> >
                                        </div>
                                        <div class="col-2">
                                            <a class="btn btn-sm btn-primary" id="addPropertyImage"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                    
                                    <input type="hidden" name="property_images_edit" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_images %><% } %>" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 shadow p30 border-radius-5 mb30">
                        <div class="heading mb30">Property Address</div>
                        <div class="form-group row">
                            <div class="col-12 col-md-6 mb-2">
                                <input type="text" id="address_line_1" name="address_line_1" class="form-control" placeholder="Address Line 1" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].address_line_1 %><% } %>" required>
                                <input type="text" id="lat" name="latitude" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].latitude %><% } %>" required hidden>
							    <input type="text" id="lng" name="longitude" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].longitude %><% } %>" required hidden>
                            </div>
                            <div class="col-12 col-md-6 my-2 mt-md-0 mb-md-2">
                                <input type="text" name="address_line_2" class="form-control" placeholder="Address Line 2" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].address_line_2 %><% } %>" >
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <input type="text" name="city" class="form-control" placeholder="City" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].city %><% } %>" required>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <input type="number" name="pincode" class="form-control" placeholder="Pincode" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].pincode %><% } %>" required>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <select class="form-control" name="state" required>
                                    <option value="">State</option>
                                    <option value="Telangana" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].state == "Telangana") { %>selected<% } %><% } %> >Telangana</option>
                                    <option value="Andhra Pradesh" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].state == "Andhra Pradesh") { %>selected<% } %><% } %> >Andhra Pradesh</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <select class="form-control" name="country" required>
                                    <option value="">Country</option>
                                    <option value="India" selected>India</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 shadow p30 border-radius-5 mb30">
                        <div class="heading mb10">Select the available amenities</div>
                        <label id="available_amenities-error" class="error" for="available_amenities"></label>
                        <div class="row">
                            <% if (typeof amenities !== 'undefined' && amenities.length > 0) { %>
                            <% for(var i=0; i < amenities.length; i++) { %>
                            <div class="col-12 col-sm-6 py-3">
                                <input type="checkbox" name="available_amenities" value="<%= amenities[i].id %>" <% if (typeof data !== 'undefined' && data.length > 0) { var items = data[0].available_amenities.split(/\s*,\s*/); var isContained = items.some(function(v) { return v == amenities[i].id; }); if (isContained) { %>checked<% } %><% } %> ><span class="pl25"><%= amenities[i].name %></span>
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <div class="form-group row mt-4">
                            <div class="col-12">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-red w-50" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>

<script>
    $(document).ready(function () {
        var property_type_id = $('#property_type_id').val();
        var property_sub_type_id = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_sub_type_id %><% } %>";
        $.ajax({
            url: "<%= baseUrl %>getPropertySubTypesByPropertyType",
            type: "POST",
            data: { property_type_id: property_type_id, property_sub_type_id: property_sub_type_id },
            dataType: "html",
            success: function (data) {
                $('#property_sub_type_id').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#property_sub_type_id').html('Something went wrong');
            }
        });
    });
    $(document).ready(function () {
        $('body').on('change', '#property_type_id', function () {
            var property_type_id = $('#property_type_id').val();
            $.ajax({
                url: "<%= baseUrl %>getPropertySubTypesByPropertyType",
                type: "POST",
                data: { property_type_id: property_type_id },
                dataType: "html",
                success: function (data) {
                    $('#property_sub_type_id').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#property_sub_type_id').html('Something went wrong');
                }
            });
        });
        $('body').on('click', '#addFloorPlanImage', function () {
            $('#floorPlanImagesInputDiv').append('<div class="row floorPlanImageAddedDiv mt-2"><div class="col-10"><input type="file" class="form-control h39" name="floor_plan" accept="image/png,image/jpg,image/jpeg" ></div><div class="col-2"><a class="btn btn-sm btn-danger removeFloorPlanImage"><i class="fas fa-trash"></i></a></div></div>');
        });
        $('body').on('click', '.removeFloorPlanImage', function () {
            $(this).parent().parent('.floorPlanImageAddedDiv').remove();
        });
        $('body').on('click', '#addPropertyImage', function () {
            $('#propertyImagesInputDiv').append('<div class="row propertyImageAddedDiv mt-2"><div class="col-10"><input type="file" class="form-control h39" name="property_images" accept="image/png,image/jpg,image/jpeg" ></div><div class="col-2"><a class="btn btn-sm btn-danger removePropertyImage"><i class="fas fa-trash"></i></a></div></div>');
        });
        $('body').on('click', '.removePropertyImage', function () {
            $(this).parent().parent('.propertyImageAddedDiv').remove();
        });
        $('body').on('click', '.price_type', function () {
            var type = $(this).val();
            if (type == 3) {
                $('#price_range_to').show();
            } else {
                $('#price_range_to').hide();
            }
        });
    });
</script>

<% if (typeof success !== 'undefined' && success != "") { %>
<script type="text/javascript">
    $(document).ready(function () {
        swal({
            text: "<%= success %>",
            icon: "success",
            timer: 2000
        });
    });
</script>
<% } %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>
<script type="text/javascript">
    $(function() {
        $.validator.addMethod("greaterThan", function (value, element, param) {
            if($('input[name=price_type]:checked').val() == 3){
                return parseInt(value) > parseInt($(param).val());
            } else {
                return true;
            }
        });
        $.validator.addMethod("greaterThanOrEqualTo", function (value, element, param) {
            return parseInt(value) >= parseInt($(param).val());
        });
        $("form[name='post_property']").validate({
            rules: {
                mobile_number_visibility: "required",
                alt_mobile_number: "required",
                seller_type: "required",
                about: "required",
                available_for: "required",
                property_title: "required",
                property_type_id: "required",
                property_sub_type_id: "required",
                bhk_type: "required",
                gated_security: "required",
                floor: "required",
                total_floors: {
                    required: true,
                    greaterThanOrEqualTo: "#floor"
                },
                property_age: "required",
                facing: "required",
                property_size: "required",
                property_size_type: "required",
                society_name: "required",
                price_type: "required",
                price: {
                    required: true,
                    number: true
                },
                price_range_to:{
                    required: function () {
                        if($('input[name=price_type]:checked').val() == 3){
                            return true;
                        } else {
                            return false;
                        }
                    },
                    number: true,
                    greaterThan: "#price"
                },
                property_status_id: "required",
                property_description: "required",
                floor_plan: {
                    required: function () {
                        if($('input[name=id]').val()){
                            return false;
                        } else {
                            return true;
                        }
                    },
                    extension: "jpg|jpeg|png"
                },
                property_images: {
                    required: function () {
                        if($('input[name=id]').val()){
                            return false;
                        } else {
                            return true;
                        }
                    },
                    extension: "jpg|jpeg|png"
                },
                address_line_1: "required",
                address_line_2: "required",
                city: "required",
                pincode: "required",
                state: "required",
                country: "required",
                available_amenities: "required"
            },
            messages: {
                mobile_number_visibility: "Please select mobile number visibility",
                alt_mobile_number: "Please enter your alternate mobile number",
                seller_type: "Please select one of the seller type",
                about: "Please enter about yourself",
                available_for: "Please select one of property available for",
                property_title: "Please enter property title",
                property_type_id: "Please select property type",
                property_sub_type_id: "Please select property sub type",
                bhk_type: "Please select bhk type",
                gated_security: "Please select gated security",
                floor: "Please select your floor",
                total_floors: { 
                    required: "Please select total floors",
                    greaterThanOrEqualTo: "Should be greater than or equal to floor"
                },
                property_age: "Please select property_age",
                facing: "Please select facing",
                property_size: "Please enter property_size",
                property_size_type: "Please select property_size_type",
                society_name: "Please enter society name",
                price_type: "Please select price type",
                price: { 
                    required: "Please enter price",
                    number: "Please enter valid number"
                },
                price_range_to: { 
                    required: "Please enter price",
                    number: "Please enter valid number",
                    greaterThan: "Should be greater than initial price"
                },
                property_status_id: "Please select property status",
                property_description: "Please enter property description",
                floor_plan: {
                    required: "Please upload floor plan",
                    extension: "Please upload images with extension jpg/jpeg/png",
                },
                property_images: {
                    required: "Please upload floor plan",
                    extension: "Please upload images with extension jpg/jpeg/png",
                },
                address_line_1: "Please enter your address",
                address_line_2: "Please enter your address",
                city: "Please enter city",
                pincode: "Please enter pincode",
                state: "Please enter state",
                country: "Please enter country",
                available_amenities: "Please select at least 1 amenity"
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAfgxZy-rkWd8nz4xLobtiSNnh371-mL48&libraries=places&callback=initAutocomplete" async defer></script>

<script>
	var isPlaceChanged = false;
    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
          (document.getElementById('address_line_1')),
          {types: ['geocode']});
      	autocomplete.addListener('place_changed', fillInAddress);
    }
    function fillInAddress() {
        var place = autocomplete.getPlace();
        isPlaceChanged = true;
        bindDataToForm(place.formatted_address,place.geometry.location.lat(),place.geometry.location.lng());
    }
    function bindDataToForm(address,lat,lng){
   		document.getElementById('lat').value = lat;
   		document.getElementById('lng').value = lng;
	}
	$(function () {
        $("#address_line_1").keydown(function () {
            isPlaceChanged = false;
        });

        $("#address_line_1").change(function () {
            if (!isPlaceChanged) {
                $("#address_line_1").val('');
            }
        });
    });
</script>