<%- include('header'); %>

<style>
    .active_image {
        border: 2px solid red;
    }
</style>

<div class="container-fluid px-3 px-md-5">
    <div class="row">
        <!-- left side block start -->
        <div class="col-12 col-md-12 col-lg-8 my-2">
            <div class="border border-radius-5 p5">
                <div class="d-flex main-imagee">
                    <% if (typeof data !== 'undefined' && data.length > 0) { %>
                    <% data[0].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                        <img id="main_image" src="<%= baseUrl %><%= element %>" class="img-fluid w-100 border-radius-5" alt="" />
                    <% }}) %>
                    <% } %>
                </div>
                <div class="row px7">
                    <% if (typeof data !== 'undefined' && data.length > 0) { %>
                    <% var z = 0; data[0].property_images.split(',').forEach(function (element) { %>
                        <div class="col-6 col-md-3 col-lg-3 px-2">
                            <div class="pt-2 d-flex thumbnail-imagee">
                                <img src="<%= baseUrl %><%= element %>" class="thumbnail_image img-fluid w-100 border-radius-5 <% if(z == 0) { %>active_image<% } %>" alt="" />
                            </div>
                        </div>
                    <% z++; }) %>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-4">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8 my-auto">
                            <div>
                                <span class="fs20 font-weight-bold"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_title %><% } %></span>
                                <!-- <span class="text-muted fs11 font-weight-bold pl5"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].city %>, <%= data[0].state %>, <%= data[0].country %><% } %></span> -->
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 my-auto">
                            <div class="text-right">
                                <span class="fs15 font-weight-bold">Price :</span>
                                <span class="fs18 font-weight-bold pl20">₹ <% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].price %><% } %></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-9">
                            <div class="py-3">
                                <div class="text-grey fs11 font-weight-bold"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].address_line_1 %><% } %></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-md-2 my-1">
                                    <div class="font-weight-bold">Bathroom</div>
                                    <div class="py-1 text-grey">
                                        <i class="fas fa-bath"></i>
                                        <span class="pl5 fs11"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].bhk_type %><% } %></span>
                                    </div>
                                </div>
                                <div class="col-3 col-md-2 my-1">
                                    <div class="font-weight-bold">Bedroom</div>
                                    <div class="py-1 text-grey">
                                        <i class="fas fa-bed"></i>
                                        <span class="pl5 fs11"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].bhk_type %><% } %></span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 my-1">
                                    <div class="font-weight-bold">Area Space</div>
                                    <div class="py-1 text-grey">
                                        <i class="fas fa-expand-arrows-alt"></i>
                                        <span class="pl5 fs11"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_size %> <% if(data[0].property_size_type == 1) { %>Square feets<% } else { %>Acres<% } %><% } %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3">
                            <div class="py-2 text-right">
                                <!-- <a href="#" class="mx-2 btn btn-sm share-btn_n_like-btn"><i class="fas fa-share-alt"></i> </a> -->
                                <% if (locals.userId) { %>
                                    <% if (typeof short_list !== 'undefined' && short_list.length > 0) {
                                        var shortListedPropertiesArray = [];
                                        for(var j=0; j < short_list.length; j++) {
                                            shortListedPropertiesArray.push(short_list[j].property_id);
                                        }
                                        var isPropertyShortListed = shortListedPropertiesArray.includes(data[0].id);
                                        if (isPropertyShortListed) { %>
                                            <a class="btn btn-sm share-btn_n_like-btn removeFromShortList" data-id="<%= data[0].id %>"><i class="fas fa-heart"></i></a>
                                        <% } else { %>
                                            <a class="btn btn-sm share-btn_n_like-btn addToShortList" data-id="<%= data[0].id %>"><i class="far fa-heart"></i></a>
                                        <% }
                                    } else { %>
                                        <a class="btn btn-sm share-btn_n_like-btn addToShortList" data-id="<%= data[0].id %>"><i class="far fa-heart"></i></a>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12 col-md-12 col-lg-10">
                            <h5 class="fs16 font-weight-bold mb-3">
                                Description
                            </h5>
                            <p class="text-muted">
                                <% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].property_description %><% } %>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-10">
                            <h5 class="fs16 font-weight-bold mb-3">
                                Amenities
                            </h5>
                            <p class="text-muted">
                                <% if (typeof data !== 'undefined' && data.length > 0) { %>
                                <% data[0].amenities.split(',').forEach(function (element) { %>
                                    <%= element %>, 
                                <% }) %>
                                <% } %>
                            </p>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-12">
                            <h5 class="fs16 font-weight-bold mb-3">
                                Floor Plan
                            </h5>
                        </div>
                        <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                            <% if (typeof data !== 'undefined' && data.length > 0) { %>
                            <% data[0].floor_plan.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                <img src="<%= baseUrl %><%= element %>" class="img-fluid" alt="" />
                            <% }}) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- left side block end -->

        <!-- Right side block start -->
        <div class="col-12 col-md-12 col-lg-4 my-2">
            <div class="row">
                <div class="col-12">
                    <iframe
                        src="http://maps.google.com/maps?q=<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].address_line_1 %><% } %>&z=15&output=embed"
                        width="100%"
                        height="500px"
                        class="border-radius-10"
                        style="border: 0;"
                        allowfullscreen=""
                        loading="lazy"
                    ></iframe>
                </div>
            </div>
            <div class="border border-radius-5 my-3 p-3">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="my-auto">
                                <img src="<%= baseUrl %>user/images/user.png" class="rounded-circle" width="60px" alt="" />
                            </div>
                            <div class="my-auto pl15">
                                <h6 class="mb-1"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].name %><% } %></h6>
                                <small class="text-grey">Joined on <%= new Date(data[0].created_at).toLocaleString('default', { year: 'numeric', month: 'long', day: 'numeric' }) %></small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-8 col-md-8">
                        <div class="text-center">
                            <a href="#" class="text-decoration-underline">View Profile</a>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="text-right">
                            <span><i class="far fa-star"></i></span>
                            <span class="pl10">4.8(198)</span>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-12">
                        <p class="text-muted pt-4 pb-3">
                            <% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].about %><% } %>
                        </p>

                        <!-- <div class="position-relative py-1">
                            <span class="font-weight-bold">Language :</span>
                            <span class="user-details">English</span>
                        </div>

                        <div class="position-relative py-1">
                            <span class="font-weight-bold">Response Rate :</span>
                            <span class="user-details">100%</span>
                        </div>

                        <div class="position-relative py-1">
                            <span class="font-weight-bold">Response Time :</span>
                            <span class="user-details">within an hour</span>
                        </div> -->

                        <div class="position-relative mt-4 py-1">
                            <span class="font-weight-bold">Contact With Host :</span>
                            <span class="">
                                <a href="mailto:<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].email %><% } %>" class="btn btn-sm border-primary btn-transparent text-primary font-weight-normal fs12 px-2 mx-1 my-auto">
                                    <span><i class="fas fa-envelope"></i></span>
                                    <span class="pl5">Email</span>
                                </a>
                                <a href="tel:<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].mobile_number %><% } %>" class="btn btn-sm border-primary btn-transparent text-primary font-weight-normal fs12 px-2 mx-1 my-auto">
                                    <span><i class="fas fa-phone-volume"></i></span>
                                    <span class="pl5">Call</span>
                                </a>
                                <!-- <a href="#" class="btn btn-sm border-primary btn-transparent text-primary font-weight-normal fs12 px-2 mx-1 my-auto">
                                    <span><i class="fas fa-sms"></i></span>
                                    <span class="pl5">SMS</span>
                                </a> -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="nearByProperties">
            </div>
        </div>
        <!-- Right side block end-->
    </div>
</div>

<%- include('footer'); %>

<% if (locals.userId) { %>
<script>
    $(document).ready(function () {
        var property_id = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>";
        var user_id = "<%= locals.userId %>";
        $.ajax({
            url: "<%= baseUrl %>addToRecentlyViewed",
            type: "POST",
            data: { property_id : property_id, user_id : user_id },
            dataType: "json",
            success: function (data) {
                // swal({
                //     text: data.message,
                //     icon: "success",
                //     timer: 1500
                // });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // swal({
                //     text: textStatus,
                //     icon: "error",
                //     timer: 1500
                // });
            }
        });
    });
</script>
<% } %>

<script>
    $(document).ready( function () {
        $('body').on('click', '.thumbnail_image', function () {
            $('.thumbnail_image').removeClass('active_image');
            $(this).addClass('active_image');
            var src = $(this).attr('src');
            $('#main_image').attr('src', src);
        });
        
        var property_id = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>";
        var location = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].address_line_1 %><% } %>";
        var latitude = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].latitude %><% } %>";
        var longitude = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].longitude %><% } %>";
        $.ajax({
            url: "<%= baseUrl %>getNearByProperties",
            type: "POST",
            data: { property_id: property_id, location: location, latitude: latitude, longitude: longitude },
            dataType: "html",
            success: function (data) {
                $('#nearByProperties').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#nearByProperties').html('Something went wrong');
            }
        });
    });
</script>

<% if (locals.userId) { %>
<script>
    $(document).ready(function () {
        $('body').on('click', '.addToShortList', function () {
            var thisElement = $(this);
            var property_id = $(this).data('id');
            var user_id = "<%= locals.userId %>";
            $.ajax({
                url: "<%= baseUrl %>addToShortList",
                type: "POST",
                data: { property_id : property_id, user_id : user_id },
                dataType: "json",
                success: function (data) {
                    thisElement.removeClass('addToShortList');
                    thisElement.addClass('removeFromShortList')
                    thisElement.html('<i class="fas fa-heart"></i>');
                    swal({
                        text: data.message,
                        icon: "success",
                        timer: 1500
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        text: textStatus,
                        icon: "error",
                        timer: 1500
                    });
                }
            })
        });
        $('body').on('click', '.removeFromShortList', function () {
            var thisElement = $(this);
            var property_id = $(this).data('id');
            var user_id = "<%= locals.userId %>";
            $.ajax({
                url: "<%= baseUrl %>removeFromShortList",
                type: "POST",
                data: { property_id : property_id, user_id : user_id },
                dataType: "json",
                success: function (data) {
                    thisElement.removeClass('removeFromShortList');
                    thisElement.addClass('addToShortList');
                    thisElement.html('<i class="far fa-heart"></i>');
                    swal({
                        text: data.message,
                        icon: "success",
                        timer: 1500
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        text: textStatus,
                        icon: "error",
                        timer: 1500
                    });
                }
            })
        });
    });
</script>
<% } %>