<%- include('header'); %>
    
<div class="container-fluid pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-7 my-3 my-lg-auto">
                <!-- <div>
                    <img src="images/register.png" class="img-fluid mx-auto d-block" alt="login-image" />
                </div> -->
            </div>
            <div class="col-12 col-md-12 col-lg-5 my-3 my-lg-auto px-1 py-4 p-md-2">
                <% if (typeof error !== 'undefined' && error != "") { %>
                    <div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
                <% } %>
                <% if (typeof errors !== 'undefined' && errors != "") { errors.forEach( function(element){ %>
                    <div class="col-12 col-sm-12 text-center text-danger"><%= element.msg %></div>
                <% }); } %>
                <h5>Sign UP For Free</h5>

                <form name="register" method="POST" action="<%= baseUrl %>register" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="fs13 font-weight-500"><span>Already have an account ?</span><a href="<%= baseUrl %>login" class="text-red pl-1"> SignIn.</a></div>
                    </div>
                    <div class="form-group">
                        <label>Full Name</label>
                        <div class="inputWithIcon">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" required />
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <div class="inputWithIcon">
                            <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" />
                            <i class="far fa-envelope"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mobile Number</label>
                        <div class="inputWithIcon">
                            <input type="text" name="mobile_number" id="mobile_number" class="form-control" placeholder="Mobile Number" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" required />
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    </div>
                    <div class="col-12 mb-2 text-right">
                        <span class="pr-2" id="otp_message"></span>
                        <a class="btn btn-sm btn-primary" id="getOtp">Verify Mobile Number</a>
                    </div>
                    <div class="form-group">
                        <label>OTP</label>
                        <div class="inputWithIcon">
                            <input type="text" name="otp" id="otp" class="form-control" placeholder="Enter 12345" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" required />
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Create Password</label>
                        <div class="inputWithIcon">
                            <input type="password" name="password"  id="password" class="form-control" placeholder="Create Password" required />
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative">
                        <input type="checkbox" class="signup-checkbox" name="terms_conditions" required>
                        <span class="pl25">I Accept <a href="#" class="text-red">Terms & Conditions</a> and <a href="#" class="text-red">Privacy Policy</a></span>
                        <label id="terms_conditions-error" class="error" for="terms_conditions"></label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-red fs13 w-100 border-radius-10">SIGN UP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>

<% if (typeof success !== 'undefined' && success != "") { %>
<script type="text/javascript">
    $(document).ready(function () {
        swal({
            text: "Registration successful",
            icon: "success",
            timer: 2000
        });
    });
</script>
<% } %>

<script>
    $(document).ready(function () {
        $('#getOtp').on('click', function () {
            var mobile_number = $('#mobile_number').val();
            if (mobile_number) {
                $.ajax({
                    url: "<%= baseUrl %>sendOTP",
                    type: "POST",
                    data: { mobile_number: mobile_number },
                    dataType: "json",
                    success: function (data) {
                        $('#otp_message').html(data.message).delay(3000).fadeOut();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#otp_message').html('Something went wrong').delay(3000).fadeOut();
                    }
                });
            } else {
                $('#otp_message').html('Please enter mobile number').delay(3000).fadeOut();
            }
        });
    });
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>
<script type="text/javascript">
    $(function() {
        $("form[name='register']").validate({
            rules: {
                name: "required",
                email:{
                    required: false,
                    email: true,
                },
                mobile_number:{
                    required: true,
                    minlength:10,
                    maxlength:10
                },
                otp: "required",
                password: {
                    required: true,
                    minlength : 5
                },
                terms_conditions: "required"
            },
            messages: {
                name: "Please enter name",
                email: {
                    email: "Please enter valid email",
                },
                mobile_number: {
                    required: "Please enter mobile number",
                    minlength: "Please enter valid mobile number",
                    maxlength: "Please enter valid mobile number",
                },
                otp: "Please enter otp",
                password: {
                    required: "Please enter password",
                    minlength: "Password should be at least 5 characters",
                },
                terms_conditions: "Please accept to proceed"
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
</script>