<%- include('header'); %>

<style type="text/css">
    ::placeholder {
        color: #9f9f9f !important;
        font-size: 12px;
        font-weight: normal;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #9f9f9f !important;
        font-size: 12px;
        font-weight: normal;
    }

    ::-ms-input-placeholder {
        color: #9f9f9f !important;
        font-size: 12px;
        font-weight: normal;
    }
    .form-control{
        border: 0px !important;
        border-bottom: 1px solid #ced4da !important;
        border-radius: 0px;
        padding-left: 0px;
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-bottom: 2px solid #134b96;
        outline: 0;
        box-shadow: none;
    }
    input[type="checkbox"] { 
        position: relative !important;
        top: 0px !important; 
    }
</style>

<div class="container py-2">
    <div class="row mx-1">
        <div class="col-12 my-4">
            <div class="text-center">
                <h3 class="d-inline-block">Register As Partner</h3>
            </div>
        </div>
        <div class="col-12 mb-5 py-5 shadow border-radius-20">
            <div class="row">
                <% if (typeof error !== 'undefined' && error != "") { %>
                    <div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
                <% } %>
                <% if (typeof errors !== 'undefined' && errors != "") { errors.forEach( function(element){ %>
                    <div class="col-12 col-sm-12 text-center text-danger"><%= element.msg %></div>
                <% }); } %>

                <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                    <form name="register_as_partner" class="pt-3" method="POST" action="<%= baseUrl %>register_as_partner" enctype="multipart/form-data">
                        <div class="heading mb30">Your Details</div>
                        <input type="hidden" name="id" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].id %><% } %>" >
                        <% if (locals.userId) { %>
                        <input type="hidden" name="user_id" value="<%= userId %>" />
                        <% } else { %>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Name</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <input type="text" class="form-control" name="name" placeholder="Name" required />
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Contact Number</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <input type="number" class="form-control" name="mobile_number" placeholder="Contact Number" required />
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Email</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <input type="email" class="form-control" name="email" placeholder="Email" required />
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Password</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <input type="password" class="form-control" name="password" placeholder="Password" required />
                            </div>
                        </div>
                        <% } %>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Business Name</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <input type="text" class="form-control" name="business_name" placeholder="Business Name" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].business_name %><% } %>" required />
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Business Experience</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <input type="number" class="form-control" name="business_experience" placeholder="Business Experience (in years)" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].business_experience %><% } %>" required />
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Address</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <textarea class="form-control " rows="4" name="address" placeholder="Address" required><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].address %><% } %></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Tags</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <select class="form-control" name="tags" required>
                                    <option value="">Select</option>
                                    <% if (typeof tags !== 'undefined' && tags.length > 0) { %>
                                    <% for(var i=0; i < tags.length; i++) { %>
                                        <option value="<%= tags[i].id %>" <% if (typeof data !== 'undefined' && data.length > 0) { %><% if (data[0].tags == tags[i].id) { %>selected<% } %><% } %> ><%= tags[i].name %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">About</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <textarea class="form-control " rows="4" name="about" placeholder="About" required><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].about %><% } %></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb30">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Upload Photos</label>
                            <div class="col-12 col-sm-9 col-md-9">
                                <input type="file" class="form-control h39" name="images" accept="image/png,image/jpg,image/jpeg" multiple <% if (typeof data !== 'undefined' && data.length > 0) { } else { %>required<% } %> />
                                <input type="hidden" name="images_edit" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].images %><% } %>" >
                            </div>
                        </div>
                        <div class="form-group row mb30 pb-3">
                            <label class="col-12 col-sm-3 col-md-3 col-form-label">Store timings</label>
                            <div class="col-12 col-sm-9 col-md-3">
                                <input type="time" class="form-control" name="opening_time" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].opening_time %><% } %>" required>
                            </div>
                            <label class="col-12 col-sm-3 col-md-3 col-form-label text-left text-md-center">To</label>
                            <div class="col-12 col-sm-9 col-md-3">
                                <input type="time" class="form-control" name="closing_time" value="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].closing_time %><% } %>" required>
                            </div>
                        </div>
                    
                        <div class="heading mb30">Select Services</div>
                        <div class="row">
                            <% if (typeof services !== 'undefined' && services.length > 0) { %>
                            <% for(var i=0; i < services.length; i++) { %>
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="register-category-block <% if (typeof data !== 'undefined' && data.length > 0) { var items = data[0].services_offered.split(/\s*,\s*/); var isContained = items.some(function(v) { return v == services[i].id; }); if (isContained) { %>service-category-active<% } %><% } %>" data-status="<% if (typeof data !== 'undefined' && data.length > 0) { var items = data[0].services_offered.split(/\s*,\s*/); var isContained = items.some(function(v) { return v == services[i].id; }); if (isContained) { %>1<% } else { %>0<% }} %>">
                                    <a class="text-center text-decoration-none m-auto">
                                        <div><input class="service_input" type="checkbox" name="services_offered" value="<%= services[i].id %>" <% if (typeof data !== 'undefined' && data.length > 0) { var items = data[0].services_offered.split(/\s*,\s*/); var isContained = items.some(function(v) { return v == services[i].id; }); if (isContained) { %>checked<% } %><% } %> /></div>
                                        <div class="">
                                            <img src="<%= baseUrl %><%= services[i].image %>" class="mx-auto d-block register-category-icon" alt="">
                                        </div>
                                        <div class="pt-2 register-category-name"><%= services[i].name %></div>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                            <% } else { %>
                                <div>No Services Found</div>
                            <% } %>
                            <div class="col-12 mt-5">
                                <div class="text-center">
                                    <input type="submit" class="btn btn-red w-50" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>

<script>
    $(document).ready(function(){
        $(".register-category-block").click(function(){
            var status = $(this).data("status");
            if (status == 0) {
                $(this).data("status", 1);
                $(this).addClass('service-category-active');
                $(this).find('input[class="service_input"]').prop("checked", true);
                // $(this).find('input[class="service_input"]').attr('checked');
            } else {
                $(this).data("status", 0);
                $(this).removeClass('service-category-active');
                // $(this).find('input[class="service_input"]').prop("checked", false);
                $(this).find('input[class="service_input"]').removeAttr('checked');
            }
        });
    });
</script>

<% if (typeof success !== 'undefined' && success != "") { %>
<script type="text/javascript">
    $(document).ready(function () {
        swal({
            text: "Partner registration successful",
            icon: "success",
            timer: 2000
        });
    });
</script>
<% } %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>
<script type="text/javascript">
    $(function() {
        $("form[name='register_as_partner']").validate({
            rules: {
                name:{
                    required: function () {
                        if($('input[name=user_id]').val()){
                            return false;
                        } else {
                            return true;
                        }
                    }
                },
                mobile_number:{
                    required: function () {
                        if($('input[name=user_id]').val()){
                            return false;
                        } else {
                            return true;
                        }
                    },
                    minlength:10,
                    maxlength:10
                },
                email:{
                    required: function () {
                        if($('input[name=user_id]').val()){
                            return false;
                        } else {
                            return true;
                        }
                    },
                    email: true,
                },
                password:{
                    required: function () {
                        if($('input[name=user_id]').val()){
                            return false;
                        } else {
                            return true;
                        }
                    }
                },
                business_name: "required",
                business_experience: {
                    required: true,
                    number: true
                },
                address: "required",
                tags: "required",
                about: "required",
                images: {
                    required: function () {
                        if($('input[name=id]').val()){
                            return false;
                        } else {
                            return true;
                        }
                    },
                    extension: "jpg|jpeg|png"
                },
                opening_time: "required",
                closing_time: "required",
                services_offered: "required"
            },
            messages: {
                name: "Please enter name",
                mobile_number: {
                    required: "Please enter mobile number",
                    minlength: "Please enter valid mobile number",
                    maxlength: "Please enter valid mobile number",
                },
                email: {
                    required: "Please enter email",
                    email: "Please enter valid email",
                },
                password: "Please enter password",
                business_name: "Please enter business name",
                business_experience: "Please enter business experience (in years)",
                address: "Please enter address",
                tags: "Please select a tag",
                about: "Please enter about",
                images: {
                    required: "Please upload floor plan",
                    extension: "Please upload images with extension jpg/jpeg/png",
                },
                opening_time: "Please enter store opening time",
                closing_time: "Please enter store closing time",
                services_offered: "Please select at least 1 service"
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
</script>