<%- include('header'); %>

<div class="container-fluid">
    <div class="row px-3">

        <!-- filters start -->

        <!-- Filters Desktop Version -->
        <div id="myFiltersOverlay" class="filters-overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeFilters()">&times;</a>

            <div class="col-12 col-md-12 col-lg-3 mt-3 mt-md-1 shadow filters-scroll d-block d-lg-none">
                <div class="row">
                    <div class="col-12 py-4 bg-light border-bottom px30">
                        <div class="">
                            <span class="fs18 font-weight-bold">Filters</span>
                            <span class="float-right font-weight-bold lh22 text-decoration-none resetall"><a id="resetFilters">Reset All</a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30 border-bottom">
                        <div>
                            <span class="fs16 font-weight-bold">Budget</span>
                            <span class="float-right">
                                <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="filterBlock">
                            <div class="mt-4 my-3">
                                <div class="btn btn-sm btn-transparent my-1" id="showPriceBlock"></div>
                            </div>
                            <div class="py-2">
                                <input type="range" class="w-100" id="max_price" name="max_price" min="0" max="" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30 border-bottom">
                        <div>
                            <span class="fs16 font-weight-bold">BHK</span>
                            <span class="float-right">
                                <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 my-3 filterBlock">
                            <span class="btn btn-sm btn-outline-primary my-1 mx-1 bhk_type" data-value="">All</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="1">1 BHK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="2">2 BHK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="3">3 BHK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="4">4 BHK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="5">5 BHK</span>
                            <input type="hidden" id="bhk_type_input" name="bhk_type_input" value="" >
                        </div>
                        <!-- <div class="py-2">
                            <input type="range" class="w-75" id="" name="" min="0" max="100" value="" />
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30 border-bottom">
                        <div>
                            <span class="fs16 font-weight-bold">Property Status</span>
                            <span class="float-right">
                                <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 position-relative filterBlock">
                            <select class="form-control" name="property_status_id" id="property_status_id" required>
                                <option value="">Select Property Status</option>
                                <% if (typeof property_status !== 'undefined' && property_status.length > 0) { %>
                                <% for(var i=0; i < property_status.length; i++) { %>
                                    <option value="<%= property_status[i].id %>"><%= property_status[i].name %></option>
                                <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30">
                        <div>
                            <span class="fs16 font-weight-bold">Age of Property</span>
                            <span class="float-right">
                                <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 mb-2 position-relative filterBlock">
                            <input type="number" class="form-control" name="property_age" id="property_age" placeholder="Enter number of years" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 px-0 mt-2">
            <span onclick="openFilters()" class="btn btn-primary1 d-block d-lg-none float-right">Filters</span>
        </div>

        <!-- Filters Desktop Version -->

        <div class="col-12 col-md-12 col-lg-3 mt-3 mt-md-1 shadow filters-scroll d-none d-lg-block">
            <div class="row">
                <div class="col-12 py-4 bg-light border-bottom px30">
                    <div class="">
                        <span class="fs18 font-weight-bold">Filters</span>
                        <span class="float-right font-weight-bold lh22 text-decoration-none"><a id="resetFilters">Reset All</a></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-3 px30 border-bottom">
                    <div>
                        <span class="fs16 font-weight-bold">Budget</span>
                        <span class="float-right">
                            <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                        </span>
                    </div>
                    <div class="filterBlock">
                        <div class="mt-4 my-3">
                            <div class="btn btn-sm btn-transparent my-1" id="showPriceBlock1"></div>
                        </div>
                        <div class="py-2">
                            <input type="range" class="w-100" id="max_price" name="max_price" min="0" max="" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-3 px30 border-bottom">
                    <div>
                        <span class="fs16 font-weight-bold">BHK</span>
                        <span class="float-right">
                            <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                        </span>
                    </div>
                    <div class="mt-4 my-3 filterBlock">
                        <span class="btn btn-sm btn-outline-primary my-1 mx-1 bhk_type" data-value="">All</span>
                        <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="1">1 BHK</span>
                        <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="2">2 BHK</span>
                        <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="3">3 BHK</span>
                        <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="4">4 BHK</span>
                        <span class="btn btn-sm btn-transparent my-1 mx-1 bhk_type" data-value="5">5 BHK</span>
                        <input type="hidden" id="bhk_type_input" name="bhk_type_input" value="" >
                    </div>
                    <!-- <div class="py-2">
                        <input type="range" class="w-75" id="" name="" min="0" max="100" value="" />
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-3 px30 border-bottom">
                    <div>
                        <span class="fs16 font-weight-bold">Property Status</span>
                        <span class="float-right">
                            <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                        </span>
                    </div>
                    <div class="mt-4 position-relative filterBlock">
                        <select class="form-control" name="property_status_id" id="property_status_id" required>
                            <option value="">Select Property Status</option>
                            <% if (typeof property_status !== 'undefined' && property_status.length > 0) { %>
                            <% for(var i=0; i < property_status.length; i++) { %>
                                <option value="<%= property_status[i].id %>"><%= property_status[i].name %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-3 px30">
                    <div>
                        <span class="fs16 font-weight-bold">Age of Property</span>
                        <span class="float-right">
                            <a class="hideFilter"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                        </span>
                    </div>
                    <div class="mt-4 mb-2 position-relative filterBlock">
                        <input type="number" class="form-control" name="property_age" id="property_age" placeholder="Enter number of years" />
                    </div>
                </div>
            </div>
        </div>

        <!-- filters end -->

        <!-- Right side block start -->
        <div class="col-12 col-md-12 col-lg-9 px-md-0 pl35 pr-4 pt-2 pb-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="filt col-12 col-md-6 col-lg-6 px-3">
                            <div class="mb-2 font-weight-bold">LOCATION</div>
                            <div class="bg-white shadow mt-2 p10 border-radius-10 border-0">
                                <div>
                                    <input type="text" id="location" class="w-100 border-0" name="location" value="<% if (typeof form_data !== 'undefined' && form_data.location) { %><%= (form_data.location) %><% } %>" autocomplete="off" />
                                    <input type="text" id="lat" name="latitude" value="<% if (typeof form_data !== 'undefined' && form_data.latitude) { %><%= (form_data.latitude) %><% } %>" hidden>
					                <input type="text" id="lng" name="longitude" value="<% if (typeof form_data !== 'undefined' && form_data.longitude) { %><%= (form_data.longitude) %><% } %>" hidden>
                                </div>
                            </div>
                        </div>

                        <div class="filt col-12 col-md-6 col-lg-6 px-3">
                            <div class="mb-2 font-weight-bold">PINCODE</div>
                            <div class="bg-white shadow mt-2 p10 border-radius-10">
                                <div>
                                    <input list="pincodes" name="pincode" id="pincode" class="w-100 border-0" value="<% if (typeof form_data !== 'undefined' && form_data.pincode) { %><%= (form_data.pincode) %><% } %>" placeholder="Pincode" autocomplete="off" />
                                    <datalist id="pincodes">
                                        <% if (typeof pincodes !== 'undefined' && pincodes.length > 0) { %>
                                        <% for(var i=0; i < pincodes.length; i++) { %>
                                            <option value="<%= pincodes[i].pincode %>">
                                        <% } %>
                                        <% } %>
                                    </datalist>
                                </div>
                            </div>
                        </div>

                        <div class="filt col-12 col-md-6 col-lg-4 px-3">
                            <div class="mb-2 font-weight-bold">PROPERTY TYPE</div>
                            <div class="bg-white shadow mt-2 pl-3 pr-1 border-radius-10">
                                <div>
                                    <select class="body-font-color" name="property_type_id" id="property_type_id">
                                        <option value="">Select Property Type</option>
                                        <% if (typeof property_types !== 'undefined' && property_types.length > 0) { %>
                                        <% for(var i=0; i < property_types.length; i++) { %>
                                            <option value="<%= property_types[i].id %>" <% if (typeof form_data !== 'undefined' && form_data.property_type_id) { if (form_data.property_type_id == property_types[i].id) { %>selected<% }} %> ><%= property_types[i].name %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="filt col-12 col-md-6 col-lg-4 px-3">
                            <div class="mb-2 font-weight-bold">PROPERTY SUB-TYPE</div>
                            <div class="bg-white shadow mt-2 pl-3 pr-1 border-radius-10">
                                <div>
                                    <select class="body-font-color" name="property_sub_type_id" id="property_sub_type_id">
                                        <option value="">Select Property Sub-Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="filt col-12 col-md-6 col-lg-4 px-3">
                            <div class="mb-2 font-weight-bold">AVAILABLE FOR</div>
                            <div class="bg-white shadow mt-2 pl-3 pr-1  border-radius-10">
                                <div>
                                    <select class="body-font-color" name="available_for" id="available_for">
                                        <option value="" <% if (typeof form_data !== 'undefined' && form_data.available_for) { if (form_data.available_for == "") { %>selected<% }} %> >All</option>
                                        <option value="1" <% if (typeof form_data !== 'undefined' && form_data.available_for) { if (form_data.available_for == 1) { %>selected<% }} %> >Buy</option>
                                        <option value="2" <% if (typeof form_data !== 'undefined' && form_data.available_for) { if (form_data.available_for == 2) { %>selected<% }} %> >Rent</option>
                                        <option value="3" <% if (typeof form_data !== 'undefined' && form_data.available_for) { if (form_data.available_for == 3) { %>selected<% }} %> >Lease</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 py-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white mb-0 px-0">
                            <li class="breadcrumb-item pl-0"><a href="#" class="text-muted fs14">Home</a></li>
                            <li class="breadcrumb-item pl-0"><a href="#" class="text-muted fs14">Hyderabad</a></li>
                            <li class="breadcrumb-item pl-0 active" aria-current="page"><a href="#" class="fs14">Selector 15</a></li>
                        </ol>
                    </nav>
                </div> -->
                <div class="col-12 mb-3 px-3">
                    <div class="row">
                        <!-- <div class="col-12 col-md-8 col-lg-8 my-auto">
                            <h4 class="fs20 font-weight-bold"><% if (typeof form_data !== 'undefined' && form_data.location) { %>Showing Properties in <%= (form_data.location) %><% } %></h4>
                        </div> -->
                        <!-- <div class="col-12 col-md-4 col-lg-4 py-2 py-md-0 my-auto">
                            <div class="d-flex float-right">
                                <div class="mr-2">
                                    <button id="list-view-btn" class="btn btn-sm list-btn btn-highlight"><i class="fas fa-list"></i>
                                    </button>
                                </div>
                                <div class="mr-2">
                                    <button id="card-view-btn" class="btn btn-sm view-btn">
                                        <i class="fas fa-th-large"></i>
                                    </button>
                                </div>
                                <div class="">
                                    <select class="form-control bg-transparent-select">
                                        <option>Relavance</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row" id="list-view">
            </div>

            <!-- <div class="row" id="card-view" style="display:none;">
                <% if (typeof data !== 'undefined' && data.length > 0) { %>
                <% for(var i=0; i < data.length; i++) { %>
                <div class="col-12 col-md-6 col-lg-4 my-1">
                    <a href="<%= baseUrl %>property_details/<%= data[i].id %>" class="body-font-color text-decoration-none">
                        <div class="border border-radius-5 p5">
                            <div class="row">
                                <div class="col-12">
                                    <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                        <img src="<%= baseUrl %><%= element %>" class="img-fluid rounded" alt="" />
                                    <% }}) %>
                                </div>
                            </div>
                            <div class="row px-3 pt-2">
                                <div class="col-12 border-bottom-dashed-grey">
                                    <div class="row">
                                        <div class="col-12 px-0 h55">
                                            <div class="fs16 font-weight-bold mb-1"><%= data[i].property_title %></div>
                                        </div>
                                    </div>
                                    <div class="row pb-1">
                                        <div class="col-6 col-md-6 col-lg-6 my-auto px-0">
                                            <div class="fs18">₹ <%= data[i].price %></div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6 my-auto px-0">
                                            <div class="fs11 text-right"><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3">
                                <div class="col-12 py-2 px-0">
                                    <div class="fs15 font-weight-bold mb-2">
                                        <%= data[i].address_line_1 %>
                                    </div>
                                    <p><%= data[i].property_description %></p>
                                    <div>
                                        <% data[i].amenities.split(',').forEach(function (element) { %>
                                            <span class="mr-4 text-grey"><%= element %></span> 
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-3 py-2">
                                <div class="col-12 col-md-6 col-lg-6 px-0">
                                    <div class="d-flex">
                                        <div class="my-auto mr-1">
                                            <img src="<%= baseUrl %>user/images/user.png" class="rounded-circle shadow" width="25px" alt="">
                                        </div>
                                        <div class="my-auto">
                                            <%= data[i].name %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 px-0">
                                    <div class="text-right">
                                        <span>
                                            <i class="fas fa-mobile-alt mobile-bg-icon mr-1"></i>
                                        </span>
                                        <span>
                                            <i class="fas fa-envelope email-bg-icon mr-1"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
                <% } else { %>
                    <div class="col-12">No Properties Found</div>
                <% } %>
            </div> -->

        </div>
        <!-- Right Side Block-->

    </div>
</div>

<%- include('footer'); %>

<script>
    $(document).ready(function () {
        var property_type_id = $('#property_type_id').val();
        var property_sub_type_id = "<% if (typeof form_data !== 'undefined' && form_data.property_sub_type_id) { %><%= (form_data.property_sub_type_id) %><% } %>";
        $.ajax({
            url: "<%= baseUrl %>getPropertySubTypesByPropertyType",
            type: "POST",
            data: { property_type_id: property_type_id, property_sub_type_id: property_sub_type_id },
            dataType: "html",
            success: function (data) {
                $('#property_sub_type_id').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#property_sub_type_id').html('Something went wrong');
            }
        });
    });
    $(document).ready(function () {
        $('body').on('change', '#property_type_id', function () {
            var property_type_id = $('#property_type_id').val();
            $.ajax({
                url: "<%= baseUrl %>getPropertySubTypesByPropertyType",
                type: "POST",
                data: { property_type_id: property_type_id },
                dataType: "html",
                success: function (data) {
                    $('#property_sub_type_id').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#property_sub_type_id').html('Something went wrong');
                }
            });
        });
    });
    $(document).ready(function(){
        function getPropertiesData() {
            var max_price = $('#max_price').val();
            var bhk_type = $('#bhk_type_input').val();
            var location = $('#location').val();
            var latitude = $('#lat').val();
            var longitude = $('#lng').val();
            var property_type_id = $('#property_type_id').val();
            var property_sub_type_id = $('#property_sub_type_id').val();
            var property_status_id = $('#property_status_id').val();
            var property_age = $('#property_age').val();
            var available_for = $('#available_for').val();
            var pincode = $('#pincode').val();
            $.ajax({
                url: "<%= baseUrl %>getPropertiesByFilters",
                type: "POST",
                data: { location: location, latitude: latitude, longitude: longitude, property_type_id: property_type_id, property_sub_type_id: property_sub_type_id, max_price: max_price, bhk_type: bhk_type, property_status_id: property_status_id, property_age: property_age, available_for: available_for, pincode: pincode },
                dataType: "html",
                success: function (data) {
                    $('#list-view').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#list-view').html('Something went wrong');
                }
            });
        }
        // $("#list-view-btn").click(function(){
        //     $('#list-view-btn').addClass('btn-highlight');
        //     $("#card-view-btn").removeClass("btn-highlight");
        //     $("#list-view").show();
        //     $("#card-view").hide();
        // });
        // $("#card-view-btn").click(function(){
        //     $("#card-view-btn").addClass("btn-highlight");
        //     $('#list-view-btn').removeClass('btn-highlight');
        //     $("#list-view").hide();
        //     $("#card-view").show();
        // });
        $('body').on('change', '#max_price', function () {
            var price = $(this).val();
            price = price.toString();
            var lastThree = price.substring(price.length-3);
            var otherNumbers = price.substring(0,price.length-3);
            if(otherNumbers != '')
                lastThree = ',' + lastThree;
            var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
            $('#showPriceBlock').html('₹ ' + res);
            getPropertiesData();
        });
        $('body').on('change', '#max_price', function () {
            var price = $(this).val();
            price = price.toString();
            var lastThree = price.substring(price.length-3);
            var otherNumbers = price.substring(0,price.length-3);
            if(otherNumbers != '')
                lastThree = ',' + lastThree;
            var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
            $('#showPriceBlock1').html('₹ ' + res);
            getPropertiesData();
        });
        $('body').on('click', '.bhk_type', function () {
            $('#bhk_type_input').val($(this).data('value'));
            $('.bhk_type').removeClass('btn-outline-primary').addClass('btn-transparent');
            $(this).removeClass('btn-transparent').addClass('btn-outline-primary');
            getPropertiesData();
        });
        $('body').on('change', '#property_type_id, #property_sub_type_id, #property_status_id, #property_age, #available_for, #pincode', function () {
            getPropertiesData();
        });
        $('body').on('change', '#location', function () {
            $('#list-view').html('Loading...');
            setTimeout(() => {
                getPropertiesData();
            }, 1000);
        });
        $('body').on('click', '.hideFilter', function () {
            $(this).html('<i class="fas fa-plus text-muted font-weight-bold"></i>');
            $(this).removeClass('hideFilter');
            $(this).addClass('showFilter');
            $(this).parent('span').parent('div').next('.filterBlock').hide();
        });
        $('body').on('click', '.showFilter', function () {
            $(this).html('<i class="fas fa-minus text-muted font-weight-bold"></i>');
            $(this).removeClass('showFilter');
            $(this).addClass('hideFilter');
            $(this).parent('span').parent('div').next('.filterBlock').show();
        });
        $('body').on('click', '#resetFilters', function () {
            $('#location').val('');
            $('#lat').val('');
            $('#lng').val('');
            $('#property_type_id').val('');
            $('#property_sub_type_id').val('');
            $('#property_status_id').val('');
            $('#property_age').val('');
            $('#available_for').val('');
            $('#pincode').val('');
            $('.bhk_type[data-value=""]').trigger("click");
        });
    });
</script>

<% if (locals.userId) { %>
<script>
    $(document).ready(function () {
        $('body').on('click', '.addToShortList', function () {
            var thisElement = $(this);
            var property_id = $(this).data('id');
            var user_id = "<%= locals.userId %>";
            $.ajax({
                url: "<%= baseUrl %>addToShortList",
                type: "POST",
                data: { property_id : property_id, user_id : user_id },
                dataType: "json",
                success: function (data) {
                    thisElement.removeClass('addToShortList');
                    thisElement.addClass('removeFromShortList')
                    thisElement.html('<i class="fas fa-heart"></i>');
                    swal({
                        text: data.message,
                        icon: "success",
                        timer: 1500
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        text: textStatus,
                        icon: "error",
                        timer: 1500
                    });
                }
            })
        });
        $('body').on('click', '.removeFromShortList', function () {
            var thisElement = $(this);
            var property_id = $(this).data('id');
            var user_id = "<%= locals.userId %>";
            $.ajax({
                url: "<%= baseUrl %>removeFromShortList",
                type: "POST",
                data: { property_id : property_id, user_id : user_id },
                dataType: "json",
                success: function (data) {
                    thisElement.removeClass('removeFromShortList');
                    thisElement.addClass('addToShortList');
                    thisElement.html('<i class="far fa-heart"></i>');
                    swal({
                        text: data.message,
                        icon: "success",
                        timer: 1500
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        text: textStatus,
                        icon: "error",
                        timer: 1500
                    });
                }
            })
        });
    });
</script>
<% } %>

<script>
    $(document).ready(function(){
        $.ajax({
            url: "<%= baseUrl %>getMaxPriceInProperties",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $('#max_price').attr('max', data.max_price);
                var price = "<% if (typeof form_data !== 'undefined' && form_data.max_price) { %><%= (form_data.max_price) %><% } %>";
                if (price) {
                    $('#max_price').val(price);
                } else {
                    $('#max_price').val(data.max_price);
                }
                $('#max_price').trigger("change");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#recentlyViewedProperties').html('Something went wrong');
            }
        });
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAfgxZy-rkWd8nz4xLobtiSNnh371-mL48&libraries=places&callback=initAutocomplete" async defer></script>

<script>
	var isPlaceChanged = false;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
          (document.getElementById('location')),
          {types: ['geocode']});
      	autocomplete.addListener('place_changed', fillInAddress);
    }
    function fillInAddress() {
        var place = autocomplete.getPlace();
        isPlaceChanged = true;
        bindDataToForm(place.formatted_address,place.geometry.location.lat(),place.geometry.location.lng());
    }
    function bindDataToForm(address,lat,lng){
   		document.getElementById('lat').value = lat;
   		document.getElementById('lng').value = lng;
	}
	$(function () {
        $("#location").keydown(function () {
            isPlaceChanged = false;
        });

        $("#location").change(function () {
            if (!isPlaceChanged) {
                $("#location").val('');
            }
        });
    });
</script>