<%- include('header'); %>

<div class="container-fluid">
    <div class="row px-3">

        <div class="col-12 col-md-12 col-lg-3 mt-3 mt-md-1 shadow pb-0 z-999">
            <div class="row">
                <div class="col-12 py-4 bg-light border-bottom px30">
                    <div class="">
                        <span class="fs18 font-weight-bold">Browse Services</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-3">
                    <ul class="list-unstyled categories-sidemenu">
                        <% if (typeof services !== 'undefined' && services.length > 0) { for(var i=0; i < services.length; i++) { %>
                        <li>
                            <a href="<%= baseUrl %>services/<%= services[i].id %>" class="category_navlink <% if (service_category) { if(services[i].id == service_category) { %>category_active_tab<% }} %>"><%= services[i].name %></a>
                        </li>
                        <% }} %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- filters end -->

        <!-- Right side block start -->

        <div class="col-12 col-md-12 col-lg-9 px-md-0 pl35 pr-4 pb-5">
            <div class="row">

                <% if (typeof data !== 'undefined' && data.length > 0) { for(var i=0; i < data.length; i++) { %></data.length>
                <div class="col-12 my-4 my-md-2 px-3">
                    <div class="shadow px-3 border-radius-5">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-3 px-0">
                                <div>
                                    <% if (typeof data !== 'undefined' && data.length > 0) { %>
                                    <% data[i].images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                    <img src="<%= baseUrl %><%= element %>" class="img-fluid w-100" alt="" />
                                    <% }}) %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-9 py-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="fs16 font-weight-bold"><%= data[i].business_name %></div>
                                        <div class="py-2">
                                            <i class="fas fa-star text-orange mr5"></i>
                                            <i class="fas fa-star text-orange mr5"></i>
                                            <i class="fas fa-star text-orange mr5"></i>
                                            <i class="fas fa-star text-orange mr5"></i>
                                            <i class="fas fa-star text-orange mr5"></i>
                                            <span class="pl10">4.0 Out Of 5</span>
                                            <span class="pl30">130 reviews</span>
                                        </div>
                                    </div>
                                    <div class="col-12 py-3">
                                        <div>
                                            <a class="btn btn-sm btn-primary mr-2 my-1"><%= data[i].tag_name %></a>
                                        </div>
                                    </div>
                                    <div class="col-12 py-1">
                                        <div>
                                            <span class="font-weight-bold">Contact :</span><span class="pl5"><%= data[i].mobile_number %></span>
                                        </div>
                                    </div>
                                    <div class="col-12 py-1">
                                        <div>
                                            <span class="font-weight-bold">Address :</span><span class="pl5"><%= data[i].address %></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-12 col-md-12 col-lg-7 my-auto">
                                        <span class="font-weight-bold">Timings :</span><span class="pl5"><%= data[i].opening_time %> AM - <%= data[i].closing_time %> PM</span>
                                        <!-- <a class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open Now</a> -->
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                                        <div class="text-center text-lg-right">
                                            <!-- <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a> -->
                                            <a href="<%= baseUrl %>service_partner_details/<%= data[i].id %>/<%= service_category %>" class="btn btn-md card-view-details-btn text-white">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }} %>

            </div>     
        </div>
    </div>
</div>

<%- include('footer'); %>
