<%- include('header'); %>

<div class="container-fluid">
    <div class="container py-4 my-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <a href="<%= baseUrl %>services" class="body-font-color text-decoration-none">
                                <i class="fas fa-arrow-left mr-2"></i><span>Back to services</span>
                            </a>
                        </div>
                        <% if (typeof error !== 'undefined' && error != "") { %>
                            <div class="col-12 col-sm-12 text-center text-danger"><%= error %></div>
                        <% } %>
                        <h5 class="font-weight-bold mb-3"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].business_name %><% } %></h5>
                        <div>
                            <% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].about %><% } %>
                        </div>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-12">
                        <h5 class="font-weight-bold border-bottom pb-3">Overview</h5>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-5">
                                <div class="my10">
                                    <span class="position-absolute"><i class="fas fa-suitcase text-orange"></i></span>
                                    <span class="pl25"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].business_experience %><% } %> years in business</span>
                                </div>
                                <div class="my10">
                                    <span class="position-absolute"><i class="far fa-credit-card text-orange"></i></span>
                                    <span class="pl25"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].tags %><% } %></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5">
                                <div class="my10">
                                    <span class="position-absolute"><i class="fas fa-clock text-orange"></i></span>
                                    <span class="pl25">Open at : <% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].opening_time %><% } %> AM - <% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].closing_time %><% } %> PM</span>
                                </div>
                                <div class="my10">
                                    <span class="position-absolute"><i class="fas fa-map-marker-alt text-orange"></i></span>
                                    <span class="pl25"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].address %><% } %></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <% if (typeof data !== 'undefined' && data.length > 0) { %>
                            <% data[0].images.split(',').forEach(function (element) { %>
                            <div class="col-12 col-sm-6 col-md-3 my-1">
                                <div>
                                    <img src="<%= baseUrl %><%= element %>" class="img-fluid border-radius-10 w-100" alt="">
                                </div>
                            </div>
                            <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 offset-lg-1 col-lg-4">
                <div class="border border-radius-30">
                    <div class="row px-3">
                        <div class="col-12">
                            <div class="py-4">
                                <img src="<%= baseUrl %>user/images/user.png" class="img-fluid rounded-circle mx-auto d-block" alt="" width="120px">
                            </div>
                            <!-- <div class="pb-3">
                                <span class="pr5 font-weight-bold">5</span><i class="fas fa-star text-orange mr-1"></i><i class="fas fa-star text-orange mr-1"></i><i class="fas fa-star text-orange mr-1"></i><i class="fas fa-star text-orange mr-1"></i><i class="fas fa-star text-orange mr-1"></i><span class="pl10">based on <strong class="text-orange">24 reviews</strong></span>
                            </div>
                            <div class="py-1">
                                <span class="position-absolute"><i class="far fa-check-circle text-green fs16"></i></span><span class="pl30 text-green font-weight-bold">Top rated professional</span>
                            </div>
                            <div class="py-1">
                                <span class="position-absolute"><i class="far fa-check-circle text-green fs16"></i></span><span class="pl30">cb</span>
                            </div>
                            <div class="py-1">
                                <span class="position-absolute"><i class="fas fa-user-check text-green fs16"></i></span><span class="pl30">advdd</span>
                            </div> -->
                        </div>
                    </div>
                    <hr>
                    <!-- <div class="row px-3">
                        <div class="col-12">
                            <div class="fs15 font-weight-bold">Check availabilty in your location</div>
                            <form>
                                <div class="form-group">
                                <label>Email / Mobile Number</label>
                                    <div class="inputWithIcon">
                                        <input type="text" name="" id="" class="form-control zip-codee" placeholder="Enter Your Zipcode" />
                                        <i class="far fa-arrow-alt-circle-right zipcodee-arrow"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="request-service-block">
                                <!-- <div class="row py-1">
                                    <div class="col-12 col-md-8">
                                        <div class="d-flex">
                                            <div class="my-auto grease-drop-styles">
                                                <i class="fas fa-tint"></i>
                                            </div>
                                            <div class="fs13 pl15 font-weight-bold my-auto">Grease Pump Out</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div>
                                            <span class="fs11 text-grey">From</span><strong class="fs15"> ₹ 200</strong>
                                        </div>
                                        <div class="fs11 text-grey">per 10 Gallons</div>
                                    </div>
                                </div> -->
                                <div class="pt-3 pb-1">
                                    <% if (locals.userId) { %>
                                    <a id="requestService" data-user="<%= locals.userId %>" data-service="<%= service_id %>" data-seller="<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].user_id %><% } %>" class="btn btn-green w-100 requestService">Request the service</a>
                                    <% } else { %>
                                    <a href="<%= baseUrl %>login" class="btn btn-green w-100">Request the service</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-7">
                <h5>Reviews</h5>
                <hr>
                <div class="pb-3">Based on reviews of <a href="#" class="text-orange">All Services</a></div>
                <div class="row py-1">
                    <div class="col-12 col-md-6 col-lg-6 my-1">
                        <div class="row">
                            <div class="col-7">
                                <div class="font-weight-bold fs14">Value</div>
                            </div>
                            <div class="col-5">
                                <div>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 my-1">
                        <div class="row">
                            <div class="col-7">
                                <div class="font-weight-bold fs14">Punctuality</div>
                            </div>
                            <div class="col-5">
                                <div>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 my-1">
                        <div class="row">
                            <div class="col-7">
                                <div class="font-weight-bold fs14">Quality</div>
                            </div>
                            <div class="col-5">
                                <div>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 my-1">
                        <div class="row">
                            <div class="col-7">
                                <div class="font-weight-bold fs14">Communication</div>
                            </div>
                            <div class="col-5">
                                <div>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i>
                                   <i class="fas fa-star text-orange mr5"></i> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>

<script>
    (function() {
        var o_time = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].opening_time %><% } %>";
        function convertFrom24To12Format(o_time) {
            const [sHours, minutes] = o_time.match(/([0-9]{1,2}):([0-9]{2})/).slice(1);
            const period = +sHours < 12 ? 'AM' : 'PM';
            const hours = +sHours % 12 || 12;

            return `${hours}:${minutes} ${period}`;
        }
        var time = convertFrom24To12Format(o_time);
        // alert(time);
    })();
</script>

<% if (locals.userId) { %>
<script>
    $(document).ready(function () {
        var user_id = "<%= locals.userId %>";
        var service_id = "<%= service_id %>";
        var service_seller_id = "<% if (typeof data !== 'undefined' && data.length > 0) { %><%= data[0].user_id %><% } %>";
        if (user_id && service_id && service_seller_id) {
            $.ajax({
                url: "<%= baseUrl %>isServiceBookedAlready",
                type: "POST",
                data: { user_id : user_id, service_id: service_id, service_seller_id: service_seller_id },
                dataType: "json",
                success: function (data) {
                    if (data.message == "Yes") {
                        $('.requestService').removeAttr('id');
                        $('.requestService').html('Service Requested');
                    }
                }
            });
        }
    });
</script>
<% } %>

<script>
    $(document).ready(function () {
        $('body').on('click', '#requestService', function () {
            var user_id = $(this).data('user');
            var service_id = $(this).data('service');
            var service_seller_id = $(this).data('seller');
            $.ajax({
                url: "<%= baseUrl %>bookService",
                type: "POST",
                data: { user_id : user_id, service_id: service_id, service_seller_id: service_seller_id },
                dataType: "json",
                success: function (data) {
                    swal({
                        text: data.message,
                        icon: "success",
                        timer: 2000
                    });
                    $('.requestService').removeAttr('id');
                    $('.requestService').html('Service Requested');
                }
            });
        });
    });
</script>