<%- include('header'); %>

<div class="container-fluid">
    <div class="row px-3">
    <div class="col-12 col-md-12 col-lg-12 px-md-0 pl35 pr-4 pt-2 pb-5">
            <div class="row">
                <div class="col-12 mb-3 px-3">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8 my-auto">
                            <h4 class="fs20 font-weight-bold"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data.length; %><% } %> Properties</h4>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 py-2 py-md-0 my-auto">
                            <div class="d-flex float-right">
                                <div class="mr-2">
                                    <button id="list-view-btn" class="btn btn-sm list-btn btn-highlight"><i class="fas fa-list"></i></button>
                                </div>
                                <div class="mr-2">
                                    <button id="card-view-btn" class="btn btn-sm view-btn">
                                        <i class="fas fa-th-large"></i>
                                    </button>
                                </div>
                                <div class="">
                                    <!-- <select class="form-control bg-transparent-select">
                                        <option>Relavance</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                        <option>....</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="list-view">

                <% if (typeof data !== 'undefined' && data.length > 0) { %>
                <% for(var i=0; i < data.length; i++) { %>
                <div class="col-12 my-2 px-3">
                    <div class="shadow px-3 border-radius-5">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-3 px-0">
                                <div>
                                    <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                        <img src="<%= baseUrl %><%= element %>" class="img-fluid w-100" alt="" />
                                    <% }}) %>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-9 py-3">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="fs16 font-weight-bold"><%= data[i].property_title %></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="text-left text-lg-right fs18 font-weight-bold">
                                            <% if (data[i].price_type == 2) { %>Starts From<% } %> ₹ <%= data[i].price %><% if (data[i].price_type == 3) { %> - <%= data[i].price_range_to %><% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-grey font-weight-500 py-1 fs14">By <%= data[i].society_name %></div>
                                <!-- <div class="text-danger text-right fs15 font-weight-bold">EMI Starts at ₹ 23 K</div> -->
                                <div class="pt-3">
                                    <span class="text-grey fs15">Area :</span>
                                    <span class="pl-4 font-weight-bold"><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></span>
                                </div>
                                <div>
                                    <span class="text-grey fs15">Status :</span>
                                    <span class="pl-4 font-weight-bold"><%= data[i].property_status_value %></span>
                                </div>
                                <div class="row mt-4 pt-4">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-md-3 my-auto">
                                            </div>
                                            <div class="col-12 col-md-9 my-auto">
                                                <div class="text-left text-lg-right pt-2">
                                                    <a href="<%= baseUrl %>property_details/<%= data[i].id %>" class="btn btn-md contact-btn my-1 text-white">View Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                    <div class="col-12">No Properties Found</div>
                <% } %>

            </div>

            <div class="row" id="card-view" style="display:none;">

                <% if (typeof data !== 'undefined' && data.length > 0) { %>
                <% for(var i=0; i < data.length; i++) { %>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="border border-radius-5 p5">
                        <div class="row">
                            <div class="col-12">
                                <% data[i].property_images.split(',').forEach(function callbackFn(element, index) { if (index == 0) { %>
                                    <img src="<%= baseUrl %><%= element %>" class="img-fluid rounded" alt="" />
                                <% }}) %>
                            </div>
                        </div>
                        <div class="row px-3 pt-2">
                            <div class="col-12 border-bottom-dashed-grey h55">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 px-0">
                                        <div class="fs16 font-weight-bold mb-1"><%= data[i].property_title %></div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 px-0">
                                        <div class="text-left text-md-right fs18">
                                            <% if (data[i].price_type == 2) { %>Starts From<% } %> ₹ <%= data[i].price %><% if (data[i].price_type == 3) { %> - <%= data[i].price_range_to %><% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-3 pt-3">
                            <div class="col-12 col-md-12 col-lg-12 px-0">
                                <div class="fs11">
                                    <span class="pr2"><i class="fas fa-bed bg-icons"></i> <%= data[i].bhk_type %> Bed</span><small class="dot"></small>
                                    <span><i class="fas fa-bath bg-icons p5"></i> <%= data[i].bhk_type %> Bath</span>
                                </div>
                            </div>
                            
                            <div class="col-12 py-2 px-0">
                                <div class="fs11">
                                    <span><%= data[i].society_name %><small class="dot"></small>
                                    <span><%= data[i].address_line_1 %><small class="dot"></small>
                                    <span><%= data[i].property_size %> <% if(data[i].property_size_type == 1) { %>sq. ft<% } else { %>Acres<% } %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                    <div class="col-12">No Properties Found</div>
                <% } %>

            </div>
        </div>
    </div>
</div>

<%- include('footer'); %>

<script>
    $(document).ready(function(){
        $("#list-view-btn").click(function(){
            $('#list-view-btn').addClass('btn-highlight');
            $("#card-view-btn").removeClass("btn-highlight");
            $("#list-view").show();
            $("#card-view").hide();
        });
        $("#card-view-btn").click(function(){
            $("#card-view-btn").addClass("btn-highlight");
            $('#list-view-btn').removeClass('btn-highlight');
            $("#list-view").hide();
            $("#card-view").show();
        });
    });
</script>