<%- include('header'); %>

<div class="container-fluid">
    <div class="row px-3">
        <div class="col-12 col-md-12 col-lg-3 mt-1 shadow"></div>

        <div class="col-12 col-md-12 col-lg-9 px-md-0 pl35 pr-4 pt-2 pb-5">
            <div class="row">
                <div class="col-12 mb-3 px-3">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8 my-auto">
                            <h4 class="fs20 font-weight-bold"><% if (typeof data !== 'undefined' && data.length > 0) { %><%= data.length; %><% } %> Service Bookings</h4>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 py-2 py-md-0 my-auto">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <% if (typeof data !== 'undefined' && data.length > 0) { %>
                <% for(var i=0; i < data.length; i++) { %>
                <div class="col-12 my-2 px-3">
                    <div class="shadow px-3 border-radius-5">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-3 px-0">
                                <div>
                                    <img src="<%= baseUrl %><%= data[i].service_image %>" class="img-fluid w-100" alt="" />
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-9 py-3">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="fs16 font-weight-bold"><%= data[i].service_name %></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="text-left text-lg-right fs18 font-weight-bold">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="text-grey font-weight-500 py-1 fs14">By <%= data[i].business_name %></div> -->
                                <!-- <div class="text-danger text-right fs15 font-weight-bold">EMI Starts at ₹ 23 K</div> -->
                                <div class="pt-3">
                                    <span class="text-grey fs15">Customer Name :</span>
                                    <span class="pl-4 font-weight-bold"><%= data[i].name %></span>
                                </div>
                                <div>
                                    <span class="text-grey fs15">Customer Mobile Number :</span>
                                    <span class="pl-4 font-weight-bold"><%= data[i].mobile_number %></span>
                                </div>
                                <div class="row mt-4 pt-4">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-md-12 my-auto">
                                                <div class="text-left text-lg-right pt-2">
                                                    <% if (data[i].status == 0) { %>
                                                        <a data-id="<%= data[i].id %>" data-status="1" class="btn btn-success text-white my-2 changeServiceBookingStatus">Accept</a>
                                                        <a data-id="<%= data[i].id %>" data-status="2" class="btn btn-danger text-white my-2 changeServiceBookingStatus">Reject</a>
                                                    <% } else if (data[i].status == 1) { %>
                                                        <a data-id="<%= data[i].id %>" data-status="3" class="btn btn-success text-white my-2 changeServiceBookingStatus">Mark As Finished</a>
                                                    <% } else if (data[i].status == 2) { %>
                                                        <a data-id="<%= data[i].id %>" data-status="2" class="btn btn-danger text-white my-2 changeServiceBookingStatus">Rejected</a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                    <div class="col-12">No Service Bookings Found</div>
                <% } %>

            </div>

        </div>
    </div>
</div>

<%- include('footer'); %>

<script type="text/javascript">
	$(document).ready(function () {
		$('body').on('click', '.changeServiceBookingStatus', function () {
			var btn = $(this);
			var id = btn.data('id');
			var status = btn.data('status');
			if (id) {
				$.ajax({
					type: "GET",
					url: "<%= baseUrl %>changeServiceBookingStatus/"+id+"/"+status,
                    dataType: "json",
					success: function(data){
						if (status == 1) {
                            btn.next('a').remove();
							btn.data('status', 3);
							btn.removeAttr('class');
                            btn.attr('class', 'btn btn-success text-white my-2 changeServiceBookingStatus');
							btn.html('Mark As Finished');
						} else if (status == 2) {
                            btn.prev('a').remove();
							btn.data('status', 2);
							btn.removeAttr('class');
                            btn.attr('class', 'btn btn-danger text-white my-2 changeServiceBookingStatus');
							btn.html('Rejected');
						}
                        if (data.success) {
                            swal({
                                text: data.success,
                                icon: "success",
                                timer: 2000
                            });
                        }
						if (data.error) {
                            swal({
                                text: data.error,
                                icon: "error",
                                timer: 2000
                            });
                        }
                        if (data.warning) {
                            swal({
                                text: data.warning,
                                icon: "warning",
                                timer: 2000
                            });
                        }
					}
				});
			} else {
				swal({
					text: "Something went wrong",
					icon: "info",
					timer: 2000
				});
			}
		});
	});
</script>