.body-font-color{
    color: #333;
}
i.fa.fa-plus, i.fa.fa-reply {
    font-size: 15px;
    vertical-align: middle;
}
.add-new-btn {
    color: #fff;
    background-color: #1e91cf;
    border-color: #197bb0;
    margin: 0px 15px;
}
.add-new-btn:hover, .add-new-btn:focus {
    color: #fff;
    background-color: #1872a2;
    border-color: #12567a;
}
.back-btn {
    color: #666;
    background-color: #fff;
    border-color: #ddd;
    margin: 0px 15px 0px 0px;
}
.back-btn:hover, .back-btn:focus {
    color: #666;
    background-color: #e6e6e6;
    border-color: #bebebe;
}
::placeholder {
  color: #ccc !important;
  font-size: 12px;
  font-weight: normal;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ccc !important;
 font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ccc !important;
 font-weight: normal;
}

.inputWithIcon {
    position: relative;
}
.form-control {
    font-size: 13px;
}
.inputWithIcon i {
    position: absolute;
    right: 0px;
    top: 3px;
    padding: 9px 8px;
    color: #495057;
    transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + i {
    color: rgb(255, 255, 255);
}

.icon-width{
    width: 25px;
}

/* view property */

.card-view-card{
    color: #767676 !important;
}
.card-view-card:hover{
    color: #767676 !important;
}
.view_property{
    color: #fff !important;
}
.contact-btn{
    background-color: #ffbb44;
    color: #fff;
    padding: 7px 20px;
    box-shadow: 0 0.5rem 1rem rgb(251 216 145) !important;
}
.view-details-btn{
    background-color: #ffbb44;
    color: #fff;
    padding: 7px 20px;
    box-shadow: 0 0.5rem 1rem rgb(251 216 145) !important;
    font-size: 14px;
}
.list-btn, .view-btn{
    color: #000 !important;
    background-color: #ffffff;
    border-color: #e7e7e7;
    border-radius: 5px !important;
    font-weight: bold;
    padding: 8px 13px !important;
    font-size: 13px;
}
.list-btn:focus, .view-btn:focus, .share-btn_n_like-btn:focus, .sell-btn:focus, .rent-btn:focus{
    box-shadow: none !important;
}
.btn-highlight{
    background: #ed5530;
    border:  1px solid #ed5530;
    color: #fff !important;
}
.bg-icons{
    background: #274390;
    color: #fff;
    text-align: center;
    font-size: 8px;
    padding: 5px 4px;
    border-radius: 100%;
}
.bg-success-icon{
    background-color: #28a745 !important;
    color: #fff;
    text-align: center;
    font-size: 8px;
    padding: 5px 6px;
    border-radius: 100%;
}
.search-property-images{
    background: #fbfbfb;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

/* End view property */

/* Property Details Page */

.user-details{
    color: #6c757d !important;
    position: absolute;
    left: 125px;
}
.property-image{
    height: 120px;
    width: 100%;
}
.share-btn_n_like-btn{
    color: #000;
    background-color: #ffffff;
    border-color: #e7e7e7;
    border-radius: 5px !important;
    font-weight: bold;
    padding: 8px 13px !important;
    font-size: 13px;
}

/* End of Property Details Page */

/* Category View */

.categories-sidemenu li a{
    color: #767676;
    font-size: 12px;
    padding: 13px 15px;
    display: flex;
    text-decoration: none;
}
.categories-sidemenu li a:hover{
    background-color: #274390;
    color: #fff;
    cursor: pointer;
}
.category_active_tab{
    background-color: #274390;
    color: #fff !important;
}

/* End of Category View */

/* Services Inner */

.zip-codee{
    height: 45px;
    line-height: 45px;
    background: #f1f1f1;
    border-radius: 15px;
    border: none;
}
.zipcodee-arrow{
    top: 5px !important;
    font-size: 15px;
}
.btn-green{
    color: #fff;
    background-color: #4c8962;
    border-color: #4c8962;
    padding: 13px 10px;
    border-radius: 15px;
}
.request-service-block{
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 0px 0px 30px 30px;
}
.grease-drop-styles{
    background: #e8e8e8;
    padding: 9px 15px;
    border-radius: 10px;
    color: #4c8962;
    font-size: 15px;
}
.service-location-input{
    border: none;
    height: 38px;
    width: 330px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.find-location-btn{
    height: 38px;
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    font-size: 13px !important;
    color: #fff;
    background-color: #dc3545;
    padding: 10px 20px;
}

/* End of Services Inner Page */

/* Manage Properties */

.apartment-features {
    padding: 3px 10px;
    border-radius: 30px;
    border: 1px solid #9c6de6;
    background: #9c6de6;
    color: #fff;
    line-height: 26px;
    margin: 2px;
    white-space: nowrap;
}
.main-imagee{
    height: 450px;
}
.thumbnail-imagee {
    height: 100px;
}

@media (max-width: 768px){
    .main-imagee{
        height: 450px;
    }
    .thumbnail-imagee{
        height: 100px;
    }
}
@media (min-width: 576px) and (max-width: 767.9px){
    .thumbnail-imagee{
        height: 150px;
    }
}
@media (max-width:  576px){
    .main-imagee{
        height: 320px;
    }
    .thumbnail-imagee{
        height: 100px;
    }
}
